/*FONTS*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

/*FONTS*/
@font-face {
  font-family: 'Effra';
  src: url('../fonts/Effra-Light.eot');
  src: url('../fonts/Effra-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Effra-Light.svg#Effra-Light') format('svg'),
       url('../fonts/Effra-Light.ttf') format('truetype'),
       url('../fonts/Effra-Light.woff') format('woff'),
       url('../fonts/Effra-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Effra';
  src: url('../fonts/Effra-Regular.eot');
  src: url('../fonts/Effra-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Effra-Regular.svg#Effra-Regular') format('svg'),
       url('../fonts/Effra-Regular.ttf') format('truetype'),
       url('../fonts/Effra-Regular.woff') format('woff'),
       url('../fonts/Effra-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Effra';
  src: url('../fonts/Effra-Medium.eot');
  src: url('../fonts/Effra-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Effra-Medium.svg#Effra-Medium') format('svg'),
       url('../fonts/Effra-Medium.ttf') format('truetype'),
       url('../fonts/Effra-Medium.woff') format('woff'),
       url('../fonts/Effra-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Effra';
  src: url('../fonts/EffraHeavy-Regular.eot');
  src: url('../fonts/EffraHeavy-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/EffraHeavy-Regular.svg#EffraHeavy-Regular') format('svg'),
       url('../fonts/EffraHeavy-Regular.ttf') format('truetype'),
       url('../fonts/EffraHeavy-Regular.woff') format('woff'),
       url('../fonts/EffraHeavy-Regular.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}
$font-principal: 'Effra', sans-serif;
$font-padrao: 'Open Sans', sans-serif;


/*GERAL*/
html {height: 100%;}
ul {padding: 0; margin: 0;}
li {list-style: none;}
a, a:hover {text-decoration: none;}
p{margin: 0;}
*:focus, *:hover{outline: none;}
body{padding: 0; margin: 0;-webkit-font-smoothing: antialiased;}
* {outline: none; font-family: $font-principal; -webkit-box-sizing: border-box;	-moz-box-sizing: border-box; box-sizing: border-box;}
strong{font-weight: bold;}
svg{width: 100%; height: 100%;}


/*TAMANHOS*/
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

/*CORES*/
$cor-principal:   #eda900;
$cor-cinza:       #292c28;
$cor-amarelo:     #ff9b00;
$cor-texto:       #373935;
$cor-texto-claro: #8c828c;

$tamanho: 16px;

.container {
	max-width: 1530px;
	@media #{$mq-xl-max} { max-width: 90%; }
	@media #{$mq-md-max} { max-width: 95%; }
	@media #{$mq-xs-max} { max-width: 100%; }
} // END CONTAINER
.container-top {
	width: 96%;
	max-width: 1740px;
	margin: 0 auto;
} // END CONTAINER


.box-txt{
	p{
		margin-bottom: 35px;
		font-family: $font-padrao;
		color: #000;
		&:last-child{
			margin-bottom: 0;
		}
	}
}//box-txt

.txt-cinza{
	color: $cor-texto !important;
}

/*TEXTOS*/
.tit-page{
	color: #fff;
	text-transform: uppercase;
	font-size: 4.12rem; //66
	font-weight: 900;
	margin-bottom: 0;
	margin-right: 170px;
	letter-spacing: -2px;
	text-align: right;
	position: relative;
	@media #{$mq-xxl-max} {
		font-size: 3.62rem; //58
	}
	@media #{$mq-lg-max} {
		font-size: 46px;
		margin-right: 130px;
	}
	@media #{$mq-md-max} {
		margin-right: 100px;
	}
	@media #{$mq-sm-max} {
		font-size: 28px;
		letter-spacing: -1px;
		width: 96%;
		padding: 0;
		margin: 0 0;
	}
	@media #{$mq-xs-max} {
		font-size: 22px;
		letter-spacing: 0;
		width: 94%;
	}
	@media #{$mq-xxs-max} {
		font-size: 17px;
		width: 92%;
	}
	@media #{$mq-xxxs-max} {
		font-size: 16px;
		width: 95%;
	}
	span{
		font-size: 1.75rem; //28
		font-weight: normal;
		color: $cor-principal;
		display: block;
		letter-spacing: 5px;
		line-height: 100%;
		text-shadow: 0 0 18px #000;
	    // margin-right: 40px;
	    @media #{$mq-xxl-max} {
			font-size: 1.5rem; //24
		}
		@media #{$mq-lg-max} {
			font-size: 1.25rem; //20
		}
		@media #{$mq-sm-max} {
			font-size: 16px; //16
			margin: 0px auto;
			letter-spacing: 2px;
		}
		@media #{$mq-xs-max} {
			font-size:  14px;
			letter-spacing: 1px;
		}
	}
	i{
		position: absolute;
		bottom: -25px;
		right: 0px;
		width: 140px;
		height: 14px;
		background: #eda900;
		-webkit-transform: skewX(-30deg);
		-moz-transform: skewX(-30deg);
		-ms-transform: skewX(-30deg);
		-o-transform: skewX(-30deg);
		transform: skewX(-30deg);
		@media #{$mq-lg-max} {
			width: 120px;
			height: 10px;
		}
		@media #{$mq-sm-max} {
			right: 0;
			bottom: -18px;
			width: 110px;
			height: 10px;
		}
		@media #{$mq-xs-max} {
			width: 100px;
			height: 5px;
			bottom: -10px;
		}
	}
}
.sub-tit-page{
	color: $cor-texto;
	text-transform: uppercase;
	font-size: 3.875rem; //62
	font-weight: 900;
	line-height: 100%;
	margin-bottom: 0;
	letter-spacing: -1px;
	@media #{$mq-xxl-max} {
		font-size: 3.25rem; //52
	}
	@media #{$mq-xl-max} {
		font-size: 2.875rem; //46
		letter-spacing: 0px;
	}
	@media #{$mq-lg-max} {
		font-size: 2.5rem; //40
	}
	@media #{$mq-sm-max} {
		font-size: 2.12rem; //34
	}
	@media #{$mq-xs-max} {
		font-size: 1.75rem; //28
	}
	@media #{$mq-xxs-max} {
		font-size: 25px;
	}
	span{
		font-size: 2.18rem; //35
		font-weight: normal;
		color: $cor-principal;
		display: block;
		letter-spacing: 4px;
		line-height: 100%;
		@media #{$mq-xxl-max} {
			font-size: 1.7rem; //28
			letter-spacing: 3px;
		}
		@media #{$mq-xl-max} {
			font-size: 1.56rem; //25
		}
		@media #{$mq-lg-max} {
			font-size: 1.37rem; //22
		}
		@media #{$mq-xs-max} {
			font-size: 1.25rem; //20
		}
		@media #{$mq-xxs-max} {
			font-size: 18px; //16
		}
	}
}


.txt{
	font-size: 1.25rem; //20
	line-height: 35px;	
	@media #{$mq-xxl-max} {
		font-size: 1.12rem; //18
		line-height: 32px;	
	}
	@media #{$mq-xl-max} {
		font-size: 1rem; //16
		line-height: 28px;	
	}
	@media #{$mq-sm-max} {
		font-size: 0.875rem; //14
		line-height: 28px;	
	}
	@media #{$mq-xs-max} {
		line-height: 24px;	
	}
	
}
.txt-medium{
	font-size: 20px;
	line-height: 135%;	
	@media #{$mq-xxl-max} {
		font-size: 18px;	
	}
	@media #{$mq-lg-max} {
		font-size: 16px;	
	}
	@media #{$mq-sm-max} {
		font-size: 14px;	
	}
}

/*BOTOES*/
.bt-padrao {
	padding: 25px 0; 
	@media #{$mq-sm-max} {
		padding: 0 0 10px;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
	}
	a, button{
		font-size: 1.62rem; //26
		font-weight: 500;
		color: #000;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: -1px;
		padding: 25px 60px;
		position: relative;
		-webkit-box-shadow: inset 0 0 0 2px $cor-principal;
		box-shadow: inset 0 0 0 2px $cor-principal;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		-webkit-transition: all linear 150ms;
		transition: all linear 150ms;
		@media #{$mq-xxl-max} {
			font-size: 1.25rem; //20
			padding: 20px 40px;
		}
		@media #{$mq-sm-max} {
			font-size: 1rem; //16
			padding: 14px 30px;
			width: 200px;
			line-height: 110%;
			letter-spacing: 0px;
		}
		@media #{$mq-xs-max} {
			font-size: 14px; 
			padding: 10px 20px;
			width: 180px;
		}
		@media #{$mq-xs-max} {
			padding: 12px 15px;
			width: 160px;
		}
		&:before{
			content: "";
			display: block;
			width: 15px;
			height: 15px;
			background: $cor-principal;
			position: absolute;
			bottom: -6px;
			left: 40px;
			right: 0;
			margin: 0 auto;
			-webkit-border-radius: 30px;
			border-radius: 30px;
			z-index: 1;
			-webkit-transition: all linear 200ms;
			transition: all linear 200ms;
			@media #{$mq-sm-max} {
				width: 12px;
				height: 12px;
				bottom: -5px;
			}
		}
		&:after{
			content: "";
			display: block;
			width: 70px;
			height: 2px;
			background: #fff;
			position: absolute;
			bottom: 0px;
			left: 100px;
			right: 0;
			margin: 0 auto;
			-webkit-transition: all linear 200ms;
			transition: all linear 200ms;
			@media #{$mq-sm-max} {
				width: 50px;
			}
		}
		&:hover{
			color: $cor-principal;
			&:before{
				left: -40px;
			}
			&:after{
				left: -100px;
			}
		}
	}
}//bt-padrao

.social-media{
	display: flex;
	position: relative;
	z-index: 1;
	li{
		width: 38px;
		height: 38px;
		float: left;
		margin-left: 25px;
		position: relative;
		@media #{$mq-xxl-max} {
			width: 32px;
			height: 32px;
		}
		.circulo{
			width: 38px;
			height: 38px;
			position: absolute;
			border: 3px solid #fff;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			border-top: 3px solid transparent;
			z-index: -1;
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-transition: all 20ms;
			-moz-transition: all 200ms;
			-ms-transition: all 200ms;
			-o-transition: all 200ms;
			transition: all linear 200ms;
			@media #{$mq-xxl-max} {
				width: 32px;
				height: 32px;
			}
		}//circulo
		a{
			width: 100%;
			height: 100%;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			-webkit-justify-content: center;
			justify-content: center;
			svg{
				width: 38px;
				height: 38px;
				@media #{$mq-xxl-max} {
					width: 32px;
					height: 32px;
				}
				path{
					fill: #fff;
					-webkit-transition: all 20ms;
					-moz-transition: all 200ms;
					-ms-transition: all 200ms;
					-o-transition: all 200ms;
					transition: all linear 200ms;
				}
			}	
		}//a
		&:hover{
			.circulo{
				border: 3px solid  $cor-principal;
				border-top: 3px solid transparent;
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-o-transform: rotate(90deg);
		    	transform: rotate(90deg);
			}
			a{
		    	svg{
		    		path{
		    			fill: $cor-principal;
		    		}
		    	}
		    }
		}
	}
}//social-media

.box-form{
	margin: 0 auto;
	input, textarea{
		width: 100%;
		border: none;
		padding: 15px 20px;
		font-size: 20px;
		color: #000;
		background: none;
		border: none;
		border-bottom: 1px solid #000;
		-webkit-border-radius: 0;
		border-radius: 0;
		-webkit-transition: all linear 100ms;
		transition: all linear 100ms;
		&:focus{
			outline: 0;
			border-bottom: 1px solid $cor-principal;
		}
		@media #{$mq-md-max}{
			font-size: 22px;
			padding: 10px 15px;
		}
		@media #{$mq-sm-max}{
			font-size: 20px;
		}
		@media #{$mq-xs-max}{
			font-size: 16px;
			padding: 8px 12px;
		}
	}
	textarea{
		height: 115px;
	}
	.bt-padrao-submit {
		width: 270px;
		height: 80px;
		-webkit-box-shadow: inset 0 0 0 2px $cor-principal;
		box-shadow: inset 0 0 0 2px $cor-principal;
		-webkit-border-radius: 50px;
		border-radius: 50px;
		-webkit-transition: all linear 150ms;
		transition: all linear 150ms;
		position: relative;
		@media #{$mq-sm-max} {
			width: 200px;
		    height: 50px;
			margin: 0 auto;
		}
		@media #{$mq-xs-max} {
			width: 160px;
		    height: 48px;
		}
		&:before{
	    	content: "";
	    	display: block;
	    	width: 15px;
	    	height: 15px;
	    	background: $cor-principal;
	    	position: absolute;
	    	bottom: -6px;
	    	left: 40px;
	    	right: 0;
	    	margin: 0 auto;
	    	-webkit-border-radius: 30px;
	    	border-radius: 30px;
	    	z-index: 1;
	    	-webkit-transition: all linear 200ms;
	    	transition: all linear 200ms;
	    }
	    &:after{
	    	content: "";
	    	display: block;
	    	width: 70px;
	    	height: 2px;
	    	background: #fff;
	    	position: absolute;
	    	bottom: 0px;
	    	left: 100px;
	    	right: 0;
	    	margin: 0 auto;
	    	-webkit-transition: all linear 200ms;
	    	transition: all linear 200ms;
	    }
		input[type="submit"]{
			width: 100%;
			height: 100%;
			font-size: 1.62rem; //26
			font-weight: 500;
			color: #000;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: -1px;
		    border: none;
		    background: none;
		    -webkit-border-radius: 50px;
		    border-radius: 50px;
		    -webkit-transition: all linear 150ms;
			transition: all linear 150ms;
			@media #{$mq-xxl-max} {
				font-size: 1.25rem; //20
			}
			@media #{$mq-sm-max} {
				font-size: 1rem; //16
				letter-spacing: 0px;
			}
		}//input
		&:hover{
			&:before{
				left: -40px;
			}
			&:after{
				left: -100px;
			}
			input[type="submit"]{
				color: $cor-principal;
			}	
		}
	}//bt-padrao
}//fim box-form

::-webkit-input-placeholder {
   color: #bebebe;
}

:-moz-placeholder { /* Firefox 18- */
   color: #bebebe; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #bebebe; 
}

:-ms-input-placeholder {  
   color: #bebebe;
}


.modal{
    padding-right: 0px !important;
    @media #{$mq-xs-max} {
    	padding: 20px 0;
    }
	.modal-dialog{
		@media #{$mq-md-max} {
			max-width: 70% !important;
		}
		@media #{$mq-sm-max} {
			max-width: 85% !important;
			margin: auto;
		}
	}
	.modal-header{
		padding: 0;
		border-bottom: none;
		height: 110px;
		position: relative;
		margin-bottom: 30px;
		background: url("../img/bg-topo-trabalhe.jpg") no-repeat center top;
		-webkit-background-size: 100%;
		     -o-background-size: 100%;
		        background-size: 100%;
		@media #{$mq-md-max} {
			height: 80px;
		}
		.modal-title{
			font-size: 2.18rem;
			font-weight: normal;
			text-transform: uppercase;
			letter-spacing: 4px;
			position: relative;
			z-index: 1;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			height: 100%;
			padding-left: 7%;
			@media #{$mq-xl-max} {
				font-size: 28px;
			}
			@media #{$mq-md-max} {
				font-size: 20px;
				letter-spacing: 2px;
			}
			@media #{$mq-sm-max} {
				font-size: 16px;
			}
			@media #{$mq-xs-max} {
				font-size: 14px;
				letter-spacing: 1px;
			}
			&:before{
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 350px;
				height: 110px;
				background: $cor-principal;
				z-index: -1;
				@media #{$mq-md-max} {
					width: 260px;
					height: 80px;
				}
				@media #{$mq-xs-max} {
					width: 220px;
					height: 80px;
				}
			}
		}
		.close{
			width: 50px;
			height: 50px;
			-webkit-box-shadow: 0 0 0 2px #000;
			box-shadow: 0 0 0 2px #000;
			-webkit-border-radius: 50px;
			border-radius: 50px;
			display: flex;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-align-items: center;
			align-items: center;
			padding: 0;
			margin: 30px 15px;
			outline: none;
			font-size: 50px;
			font-weight: 300;
			color: #000;
			position: absolute;
			top: 0;
			right: 0;
			@media #{$mq-md-max} {
				margin: 15px 15px;
				width: 40px;
				height: 40px;
			}
		}
	}//modal-header7
	.modal-diferenciado{
		.modal-header{
			height: 190px;
			background: url("../img/bg-topo-trabalhe1.jpg") no-repeat center top;
			@media #{$mq-xs-max} {
				height: 100px;
			}
		}
		.modal-conteudo{
			margin-top: 0px;
			&:before{
				display: none;
			}
			.bg-modal{
				position: relative;
				margin-bottom: 80px;
				&:before{
					content: "";
					display: block;
					position: absolute;
					bottom: -40px;
					left: -40px;
					width: 200px;
					height: 200px;
					background: $cor-principal;
				}
				.fundo{
					background: #333;
					position: relative;
					padding: 100px 0;
					@media #{$mq-xs-max} {
						padding: 70px 0 40px;
					}
					i{
						position: absolute;
						top: -130px;
						right: 80px;
						@media #{$mq-xl-max} {
							top: -100px;
						}
						@media #{$mq-xs-max} {
							top: -50px;
						    right: 20px;
						}
						img{
							@media #{$mq-xl-max} {
								width: 170px;
							}
							@media #{$mq-xs-max} {
								width: 90px;
							}
						}
					}
					.box-txt{
						width: 80%;
						max-width: 580px;
						margin: 0 auto;
						@media #{$mq-xl-max} {
							max-width: 520px;
						}
						p{
							color: $cor-principal;
							text-align: center;
							font-size: 22px;
							font-weight: bold;
							font-family: $font-padrao;
							@media #{$mq-xl-max} {
								font-size: 20px;
							}
							@media #{$mq-md-max} {
								font-size: 18px;
							}
							@media #{$mq-sm-max} {
								font-size: 16px;
							}
						}
					}
				}
			}
		}//modal-conteudo
	}//modal-diferenciado
	.modal-conteudo{
		width: 100%;
		float: left;
		margin: 0;
		position: relative;
		&:before{
			content: "";
			display: block;
			position: absolute;
			top: -100px;
			left: 5%;
			width: 1px;
			height: 370px;
			background: #000;
			z-index: 2;
			@media #{$mq-md-max} {
				height: 270px;
			}
		}
		.box-conteudo-modal{
			width: 85%;
			margin: 0 0;
			padding: 10px 0 30px 7%;
			@media #{$mq-lg-max} {
				width: 92%;
				margin: 0 auto;
				padding: 40px 40px;
			}
			@media #{$mq-md-max} {
				width: 100%;
				padding: 40px 40px;
			}
			@media #{$mq-sm-max} {
				padding: 0px 30px 20px;
			}
			.box-form{
				max-width: 500px;
				margin: 0 auto;
				.linha{
					margin-bottom: 20px;
					&:last-child{
						margin-bottom: 0;
					}
				}//linha
				.bt-padrao{
					text-align: center;
					margin-bottom: 20px;
				}
				.box-txt{
					p{
						text-align: center;
						margin-bottom: 0;
						a{
							color: #000;
							font-weight: bold;
							text-decoration: underline;
							&:hover{
								color: $cor-principal;
							}
						}
					}
				}
			}//box-form
		}//box-conteudo-modal
	}//modal-conteudo
}

.js .inputfile {
	display: none;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    width: auto;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    margin-bottom: 0 !important;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}


/* style 1 */
.inputfile-1 + label {
	background: #eda900;
	border: none;
	color: #000;
	font-size: 14px;
	font-weight: bold;
	font-family: "Open Sans", sans-serif;
	letter-spacing: 0;
	cursor: pointer;
	padding: 10px 10px;
	width: auto;
	text-align: center;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	@media #{$mq-sm-max} {
		width: 100% !important;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
	}
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    outline: none;
}
