header{
	height: 110px;
	position: relative;
	z-index: 9;
	background: $cor-cinza;
	@media #{$mq-sm-max} {
		height: 70px;
	}
	h1.logo{
		width: 330px;
		margin-bottom: 0;
		margin-left: 20px;
		@media #{$mq-xxl-max} {
			width: 280px;
		}
		@media #{$mq-xl-max} {
			width: 230px;
		}
		@media #{$mq-lg-max} {
			width: 200px;
		}
		@media #{$mq-md-max} {
			width: 180px;
		}
	}

	nav.menu-principal{
		margin: 0 20px;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-flex-grow: 1;
		flex-grow: 1;
		@media #{$mq-sm-max} {
			display: none;
		}
		ul.menu{
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			li{
				position: relative;
				@media #{$mq-xxl-max} {
					line-height: 100%;
				}
				&:after{
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					margin: 0 auto;
					background: $cor-principal;
					width: 0%;
					height: 100%;
					z-index: -1;
					-webkit-transition: all 200ms;
					-moz-transition: all 200ms;
					-ms-transition: all 200ms;
					-o-transition: all 200ms;
					transition: all linear 200ms;
					-webkit-transform: skewX(-30deg);
					-moz-transform: skewX(-30deg);
					-ms-transform: skewX(-30deg);
					-o-transform: skewX(-30deg);
					transform: skewX(-30deg);
				}
				a{
					padding: 6px 16px;
					color: #FFF;
					font-size: 1rem; //18
					letter-spacing: 3px;
					text-transform: uppercase;
					@media #{$mq-xxl-max} {
						padding: 6px 10px;
						font-size: 0.93rem;//15
						letter-spacing: 1.5px;
					}
					@media #{$mq-lg-max} {
						font-size: 0.875rem; //14
						letter-spacing: 1px;
						padding: 6px 6px;
						display: flex;
						text-align: center;
					}
				}
				&.current-menu-item, &:hover, &.current_page_ancestor{
					&:after{
						height: 100%;
						width: 100%;
					}
				}
				&.menu-item-has-children{
					position: relative;
					.sub-menu{
						width: 350px;
						background: rgba(#000, 0.97);
						opacity: 0;
						// display: none;
						visibility: hidden;
						position: absolute;
						top: -10px;
						left: -8px;
						right: 0;
						margin: 0 auto;
						padding: 0px;
						z-index: -1;
						-webkit-box-shadow: 0 20px 20px 5px rgba(#333, 0.6);
						box-shadow: 0 20px 20px 5px rgba(#333, 0.6);
						-webkit-transition: all 120ms;
						-moz-transition: all 120ms;
						-ms-transition: all 120ms;
						-o-transition: all 120ms;
						transition: all linear 120ms;
						li{
							padding-bottom: 0px;
							margin-bottom: 0px;
							// border-bottom: 1px solid #111;
							&:last-child{
								border-bottom: none;
								margin-bottom: 0;
								padding-bottom: 0;
							}
							&:after{
								display: none;
							}
							a{
								width: 100%;
								float: left;
								padding: 14px 14px 14px 25px;
								color: #FFF;
								font-size: 14px;
								font-family: $font-padrao;
								letter-spacing: 0px;
								text-transform: none;
								-webkit-transition: all 120ms;
								-moz-transition: all 120ms;
								-ms-transition: all 120ms;
								-o-transition: all 120ms;
								transition: all linear 120ms;
							}
							&:hover{
								a{
									color: $cor-principal;
									background: #1D1D1D;
								}
							}
							&.current_page_item{
								a{
									color: $cor-principal;
									background: #1D1D1D;
								}
							}
						}
					}//sub-menu
					&:hover{
						.sub-menu{
							top: 30px;
						    visibility: visible;
							opacity: 1;
							display: block;
							z-index: 1;
						}
					}
				}//menu-item-has-children
			}//li
		}
	}//nav
	
	/*MENU MOBILE*/
	.menuMob {
		display: none;
		@media #{$mq-sm-max} {
			display: block;
			z-index: 101;
		}
		.drawer-hamburger {
			border: none;
		 	right: 10px !important;
		 	top: 15px;
		 	padding: 0px 0;
		 	width: 30px;
		 	height: 30px;
		 	outline: none;
		}// fim drawer-hamburger
		.drawer-nav {
			background: #000;
			.bar-menu-mob {
				max-width: 300px;
				margin: 20px 0 20px;
				@media #{$mq-xs-max} {
					width: 180px;
				}
			}//bar-menu-mob
			.drawer-menu{
				text-align: center;
				li {
					float: left;
					width: 100%;
					&:first-child{
						a{
							border-top: none;
						}
					}
					&.current-menu-item{
						a{
							background: $cor-principal;
							color: #FFF;
						}
						.sub-menu{
							li{
								a{
									background: none;
									color: $cor-principal;
								}
							}
						}
					}
					a{
						width: 100%;
						height: 100%;
						float: left;
						margin: 0 auto;
						padding: 5px 0;
						text-align: center;
						font-size: 18px;
						font-weight: bold;
						text-transform: uppercase;
						color: $cor-principal;
						border-top: 1px solid $cor-principal;
					}//a
					.sub-menu{
						margin-top: 6px;
						clear: both;
						height: 100%;
						overflow: hidden;
						li{
							a{
								border-top: none;
								font-size: 16px;
								font-weight: normal;
							}
						}
					}
				}//fim li
			}//fim drawer-menu
		}//fim drawer-nav
	}// fim menuMob

	.drawer-open {height: 100%;}
	.drawer-open .drawer-hamburger-icon {background-color: transparent !important;}
	.menuMob .drawer-hamburger .drawer-hamburger-icon,
	.menuMob .drawer-hamburger .drawer-hamburger-icon:before,
	.menuMob .drawer-hamburger .drawer-hamburger-icon:after {background: $cor-principal; }

	.social-media{
		right: 20px;
		@media #{$mq-md-max} {
			display: none;
		}
	}
}//

footer{
	width: 100%;
	height: 345px;
	background: url("../img/bg-rodape.jpg") no-repeat center 30px;
	position: relative;
	padding-top: 30px;
	overflow: hidden;
	@media #{$mq-lg-max} {
		height: auto;
		-webkit-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		padding-bottom: 20px;
		    
	}
	@media #{$mq-sm-max} {
		overflow: visible;
	    background: #1e201d;
	}
	.info-rodape{
		width: 50%;
		padding-top: 60px;
		@media #{$mq-sm-max} {
			width: 100%;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-justify-content: center;
			justify-content: center;
		}
		.logo-rodape{	
			width: 40%;
			max-width: 330px;
			@media #{$mq-sm-max} {
				margin-bottom: 10px;				
			}
			.social-media{
				margin-top: 40px;
				-webkit-justify-content: center;
				justify-content: center;
				li{
					&:first-child{
						margin-left: 0;
					}
				}
			}//social-media
		}//logo-rodape
		.menu-rodape{
			width: 60%;
			padding-left: 5%;
			@media #{$mq-sm-max} {
				display: none;
			}
		    ul{
		    	display: flex;
		    	-webkit-flex-wrap: wrap;
		    	-ms-flex-wrap: wrap;
		    	flex-wrap: wrap;
				li{
					margin-bottom: 8px;
					width: 50%;					
					a{
						color: #FFF;
						font-size: 1.37rem; //22
						font-weight: 300;
						letter-spacing: 1px;
						font-family: $font-padrao;
						-webkit-transition: all 200ms;
						-moz-transition: all 200ms;
						-ms-transition: all 200ms;
						-o-transition: all 200ms;
						transition: all linear 200ms;
						@media #{$mq-xl-max} {
							font-size: 1.25rem; //20
						}
						@media #{$mq-lg-max} {
							font-size: 1.125rem; //18
						}
						@media #{$mq-md-max} {
							font-size: 1rem; //16
						}
						&:hover{
							color: $cor-principal;
							text-decoration: underline;
						}
					}
				}
			}
		}//menu-rodape
	}//info-rodape
	
	.newsletter{
		width: 48%;
		position: absolute;
		right: 0;
		z-index: 4;
		@media #{$mq-sm-max} {
			position: relative;
			padding: 0;
			margin: -70px 0px 0 4%;
			width: 98%;
			max-width: 100%;
		}
		.box-newsletter{
			height: 200px;
			background: $cor-principal;
			margin-top: -30px;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			@media #{$mq-xl-max} {
				height: 140px;
			}
			@media #{$mq-md-max} {
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-align-items: flex-start;
				align-items: flex-start;
			}
		    .tit-news{
		    	color: #FFF;
		    	font-size: 1.87rem;//30
		    	font-weight: 200;
		    	line-height: 120%;
		    	text-transform: uppercase;
		    	@media #{$mq-xxl-max} {
					font-size: 1.56rem;//25
				}
				@media #{$mq-xl-max} {
					font-size: 1.25rem;//20
				}
				@media #{$mq-lg-max} {
					font-size: 1.12rem; //18
				}
				@media #{$mq-sm-max} {
					width: 100%;
					margin-bottom: 15px;
				}
		    	strong{
		    		font-size: 2.81rem; //45
		    		display: block;
		    		@media #{$mq-xxl-max} {
						font-size: 2.37rem;//38
					}
					@media #{$mq-xl-max} {
						font-size: 1.87rem; //30
					}
					@media #{$mq-lg-max} {
						font-size: 1.56rem;//25
					}
		    	}
		    }
		    .box-form{
		    	-webkit-flex-grow: 1;
		    	        flex-grow: 1;
		    	// max-width: 350px;
		    	@media #{$mq-sm-max} {
		    		width: 100%;
		    		max-width: 100%;
		    		margin: 0 auto;
		    	}
		    	.box-form-newsletter{
		    		display: flex;
		    		-webkit-align-items: center;
		    		align-items: center;
		    		-webkit-justify-content: center;
		    		justify-content: center;
		    		@media #{$mq-sm-max} {
		    			-webkit-justify-content: flex-start;
		    			        justify-content: flex-start;
		    		}
			    	.linha{
			    		margin: 0;
			    		width: 85%;
			    		input, textarea{
							color: #fff;
							border-bottom: 1px solid #fff;
							&:focus{
								outline: 0;
								border-bottom: 1px solid #000;
							}
						}
						::-webkit-input-placeholder {
							color: #fff;
						}

						:-moz-placeholder { /* Firefox 18- */
							color: #fff; 
						}

						::-moz-placeholder {  /* Firefox 19+ */
							color: #fff; 
						}

						:-ms-input-placeholder {  
							color: #fff;
						}
			    	}//linha
			    	.bt-newsletter{
			    		display: flex;
			    		-webkit-justify-content: center;
			    		justify-content: center;
			    		-webkit-align-items: center;
			    		align-items: center;
			    		input[type="submit"]{
			    			width: 42px;
			    			height: 42px;
			    			display: flex;
			    			-webkit-justify-content: center;
			    			justify-content: center;
			    			-webkit-align-items: center;
			    			align-items: center;
			    			background: transparent;
			    			outline: none;
			    			font-size: 20px;
			    			color: #FFF;
			    			border: 1px solid #fff;
			    			-webkit-border-radius: 50px;
			    			border-radius: 50px;
			    		}
			    	}//bt-newsletter
			    }//box-form-newsletter
		    }//box-form
		}//box-newsletter
	}//newsletter
	.bar-footer{
		margin-top: 40px;
		display: flex;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		-webkit-align-items: center;
		align-items: center;
		@media #{$mq-lg-max} {
			-webkit-flex-wrap: wrap;
			    -ms-flex-wrap: wrap;
			        flex-wrap: wrap;
		}
		@media #{$mq-sm-max} {
			width: 92%;
			margin: 30px auto 0;
		}
		.endereco{
			display: flex;
			-webkit-align-items: center;
			align-items: center;
		    @media #{$mq-lg-max} {
		    	width: 100%;
		    }
		    @media #{$mq-md-max} {
		    	-webkit-flex-wrap: wrap;
		    	-ms-flex-wrap: wrap;
		    	flex-wrap: wrap;
		    	-webkit-justify-content: center;
		    	justify-content: center;
		    }
			p{
				font-family: $font-padrao;
				color: #FFF;
				font-size: 1.25rem; //20
				font-weight: 300;
				@media #{$mq-xxl-max} {
					font-size: 1rem;
				}
				@media #{$mq-sm-max} {
					width: 100%;
					text-align: center;
					font-size: 0.875rem; //14
					margin-bottom: 10px;
				}
			}
			.logo-footer{
				@media #{$mq-sm-max} {
					width: 100%;
					-webkit-justify-content: center;
					        justify-content: center;
				}
				.img{
					@media #{$mq-xl-max} {
						max-width: 150px;
						img{
							width: 100%;
						}
					}
				}
			}//logo-footer
		}//endereco		
		.by{
			color: #FFF;
			display: flex;
			-webkit-align-items: center;
			align-items: center;
			text-transform: uppercase;
			font-size: 10px;
			font-family: $font-padrao;
			font-weight: 300;
			letter-spacing: 2px;
			margin-right: 30px;
			@media #{$mq-xl-max} {
				margin-right: 55px;
			}
			@media #{$mq-lg-max} {
		    	width: 100%;
		    	margin-top: 15px;
		    	margin-right: 0;
		    	display: flex;
		    	-webkit-justify-content: center;
		    	        justify-content: center;
		    }
		    @media #{$mq-sm-max} {
		    	font-size: 8px;
		    }
		    .ml-2{
		    	@media #{$mq-sm-max} {
		    		img{
		    			width: 65px;
		    		}
		    	}
		    }
		}
	}//bar-footer
}

.bt-whats{
	width: 58px;
	height: 58px;
	position: fixed;
	bottom: -20px;
	right: 20px;
	z-index: 99;
	opacity: 0;
	-webkit-transition: all linear 200ms;
	transition: all linear 200ms;
	&.fixedBottom{
		bottom: 20px;
		opacity: 1;
	}
}