.servicos{
	overflow: hidden;
	margin-bottom: -40px;
	padding-bottom: 40px;
	.box-servicos{
		background: url("../img/bg-contato.jpg") no-repeat center 0;
		margin-bottom: 70px;
		height: 460px;
		margin-top: 110px;
		@media #{$mq-lg-max} {
			background-position: -240px center;
		}
		@media #{$mq-sm-max} {
			height: auto;
			background: url("../img/bg-quem-somos-mob.jpg") no-repeat center 0;
			margin-top: 30px;
			margin-bottom: 40px;
		}
		@media #{$mq-xs-max} {
			-webkit-background-size: 100%;
			-o-background-size: 100%;
			background-size: 100%;
		}
		
		.descricao-servico{
			padding-bottom: 0px;
			.sub-tit-page{
				display: flex;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				-webkit-justify-content: center;
				justify-content: center;
				height: 302px;
		    	margin: 0px 0 0;
				line-height: 94%;
				float: right;
				@media #{$mq-sm-max} {
					height: auto;
					text-align: center !important;
					float: none;
					margin-top: 70px;
					margin-bottom: 40px;
				}
				@media #{$mq-xs-max} {
					margin-top: 13%;
					margin-bottom: 6%;
				}
				p{
					margin-left: 40px;
					@media #{$mq-xl-max} {
						margin-left: 20px;
					}
					@media #{$mq-lg-max} {
						margin-left: 0;
					}
				}	
			}//sub-tit-page
			.box-descricao{
				margin-top: 60px;
				@media #{$mq-sm-max} {
					margin-top: 40px;
					text-align: center;
				}
				@media #{$mq-xs-max} {
					margin-top: 30px;
				}
			}//box-descricao
		}//descricao-servico
	}//box-servicos

	.box-codigo-busca{
		height: 210px;
		background: $cor-principal;
		color: #FFF;
		.d-flex{
			height: 100%;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-align-items: center;
			align-items: center;
			p{
				text-align: center;
				font-size: 25px;
				margin: 0;
				letter-spacing: 3px;
				@media #{$mq-xl-max} {
					font-size: 22px;
				}
				@media #{$mq-md-max} {
					font-size: 18px;
					letter-spacing: 2px;
					line-height: 120%;
				}
				@media #{$mq-xs-max} {
					font-size: 16px;
					letter-spacing: 1px;
				}
			}
			.busca{
				margin: 10px auto 0;
				display: flex;
				width: 90%;
				max-width: 650px;
				@media #{$mq-sm-max} {
					width: 100%;
					max-width: 100%;
				}
				label{
					color: #FFF;
					font-size: 42px;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: -1px;
					margin-right: 30px;
					@media #{$mq-xl-max} {
						font-size: 36px;
					}
					@media #{$mq-md-max} {
						font-size: 30px;
						letter-spacing: -0px;
					}
					@media #{$mq-sm-max} {
						font-size: 26px;
						margin-right: 15px;
					}
					@media #{$mq-xs-max} {
						font-size: 20px;
						display: none;
					}
				}
				.box-form{
					margin: 0;
					width: 100%;
					position: relative;
					input[type="text" ]{
						border-bottom: 1px solid #fff;
						color: #FFF;
						padding-right: 60px;
					}
					::-webkit-input-placeholder {
					   color: #FFF;
					}

					:-moz-placeholder { /* Firefox 18- */
					   color: #FFF; 
					}

					::-moz-placeholder {  /* Firefox 19+ */
					   color: #FFF; 
					}

					:-ms-input-placeholder {  
					   color: #FFF;
					}
					.bt-submit-busca{
						background: url("../img/icone-busca.png") no-repeat center;
						width: 35px;
						height: 36px;
						position: absolute;
						top: 14px;
						right: 10px;
						border-bottom: none;
						padding: 0;
						@media #{$mq-md-max} {
							width: 28px;
							height: 30px;
						    top: 10px;
							-webkit-background-size: 28px;
							-o-background-size: 28px;
							background-size: 28px;
						}
						@media #{$mq-xs-max} {
							width: 24px;
							height: 25px;
						    top: 10px;
							-webkit-background-size: 24px;
							-o-background-size: 24px;
							background-size: 24px;
						}
					}//bt-submit-busca
				}
			}
		}//d-flex
	}//box-codigo-busca
	.box-filtros{
		margin-top: 60px;
		margin-bottom: 90px;
		@media #{$mq-md-max} {
			margin-top: 30px;
			margin-bottom: 40px;
		}
		.bg-filtros{
			width: 100%;
			height: 118px;
			background: url("../img/bg-filtro.jpg") no-repeat center 0;
			-webkit-background-size: 1500px;
			-o-background-size: 1500px;
			background-size: 1500px;
			@media #{$mq-xs-max} {
				background-repeat-y: repeat;
				height: auto;
			}
			.ad{
				width: 90%;
				height: 100%;
				margin: 0 auto;
				display: flex;
				-webkit-justify-content: space-between;
				justify-content: space-between;
				-webkit-align-items: center;
				align-items: center;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				@media #{$mq-lg-max} {
					width: 100%;
				}
				.bt-filto{
					width: 33.33%;
					display: flex;
					-webkit-justify-content: center;
					justify-content: center;
					-webkit-align-items: center;
					align-items: center;
					cursor: pointer;
					height: 100%;
					border-right: 2px solid #1E1E1E;
					position: relative;
					font-size: 20px;
					font-family: $font-padrao;
					text-align: center;
					color: #FFF;
					@media #{$mq-xs-max} {
						width: 100%;
						-webkit-flex-direction: column;
						-ms-flex-direction: column;
						flex-direction: column;
						border-right: none;
						border-bottom: 2px solid #1E1E1E;
					}
					&:last-child{
						border-right: none;
					}
					.btt{
						@media #{$mq-md-max} {
							width: 100%;
							padding: 22px 0;
							display: flex;
							-webkit-justify-content: center;
							justify-content: center;
							-webkit-flex-wrap: wrap;
							-ms-flex-wrap: wrap;
							flex-wrap: wrap;
						}
						span{
							@media #{$mq-md-max} {
								font-size: 16px;
							}
						}
						i.icone{
							@media #{$mq-md-max} {
								margin: 0 auto;
								width: 100%;
								img{
									width: 36px;
								}
							}
						}
					}//btt
					.lista-filtro{
						background: #FFF;
						padding: 15px;
						position: absolute;
						top: 0;
						z-index: 9;
						-webkit-box-shadow: 0 0 15px 0 rgba(#000, 0.5);
						box-shadow: 0 0 15px 0 rgba(#000, 0.5);
						display: none;
						@media #{$mq-xs-max} {
							position: relative;
						    margin-top: -112px;
						}
						&.active{
							display: block;
						}
						.header{
							padding: 20px 10px;
							color: #000;
							background: $cor-principal;
							-webkit-transition: 200ms;
							-moz-transition: 200ms;
							-ms-transition: 200ms;
							-o-transition: 200ms;
							transition: 200ms;
							&:hover{
								background: $cor-texto-claro;
							}
							@media #{$mq-md-max} {
								padding: 15px 10px;
								display: flex;
								-webkit-justify-content: center;
								justify-content: center;
								-webkit-flex-wrap: wrap;
								-ms-flex-wrap: wrap;
								flex-wrap: wrap;
								font-size: 16px;
							}
							i.icone{
								@media #{$mq-md-max} {
									margin: 0 auto;
									width: 100%;
									img{
										width: 36px;
									}
								}
							}
						}
						.lista{
							margin-top: 25px;
							padding: 0 15px;
							ul{
								display: flex;
								-webkit-flex-wrap: wrap;
								-ms-flex-wrap: wrap;
								flex-wrap: wrap;
								li{
									width: 50%;
									text-align: left;
									display: flex;
									margin-bottom: 4px;
									@media #{$mq-md-max} {
										width: 100%;
									}
									input[type=checkbox]{
										margin-top: 2px;
										margin-right: 5px;
									}
									label{
										color: #292c28;
										font-size: 15px;
										line-height: 100%;
									}
								}
							}//ul
							&.lista-faturamento{
								ul{
									li{
										width: 100%;
									}
								}
							}//lista-faturamento
						}
					}//lista-filtro
				}//bt-filto
			}
		}//bg-filtros
		.links-filtro{
			margin-top: 30px;
			ul{
				display: flex;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				li{
					height: 42px;
					padding: 0 10px;
					font-size: 15px;
					background: #EAEAEA;
					color: #292c28;
					margin-right: 10px;
					margin-bottom: 6px;
					display: flex;
					-webkit-justify-content: center;
					justify-content: center;
					-webkit-align-items: center;
					align-items: center;
					font-family: $font-padrao;
					@media #{$mq-sm-max} {
						font-size: 14px;
						height: 38px;
					}
					@media #{$mq-xs-max} {
						font-size: 12px;
					}
					i{
						margin-left: 6px;
					}
				}
			}
			
		}
	}//box-filtros
	.box-empresa{
		margin-bottom: 120px;
		@media #{$mq-sm-max} {
			margin-bottom: 50px;
		}
		.d-flex{
			-webkit-justify-content: space-between;
			justify-content: space-between;
			-webkit-flex-wrap: wrap;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			.blocos-destaques{
				width: 45%;
				margin-bottom: 50px;
				padding-top: 35px;
				border-top: 6px solid $cor-principal;
				background: #fff;
				-webkit-box-shadow: 0 0 8px 0 rgba(#000, 0.6);
				box-shadow: 0 0 8px 0 rgba(#000, 0.6);
				@media #{$mq-xxl-max} {
					padding-top: 20px;
				}
				@media #{$mq-md-max} {
					width: 48%;
				}
				@media #{$mq-sm-max} {
					width: 80%;
					max-width: 500px;
					margin: 0 auto 40px;
				}
				@media #{$mq-sm-max} {
					width: 90%;
				}
				.campos-empresa{
					float: left;
					width: 100%;
					margin-bottom: 30px;
					@media #{$mq-xxl-max} {
						margin-bottom: 20px;
					}
					ul{
						li{
							width: 100%;
							margin-bottom: 10px;
							padding: 10px 0;
							font-family: $font-padrao;
							color: #292C28;
							@media #{$mq-xxl-max} {
								margin-bottom: 8px;
								padding: 6px 0;
							}
							@media #{$mq-md-max} {
								img{
									width: 16px;
								}
							}
							&.txt-medium{
								@media #{$mq-xs-max} {
									font-size: 12px;
								}
							}
						}
					}
					.col-esq{
						float: left;
						width: 45%;
						background: #F6F6F6;
						padding: 20px 10px 20px 30px;
						@media #{$mq-xxl-max} {
							padding: 20px 10px 20px 20px;
						}
						li{
							font-weight: bold;
						}
					}
					.col-dir{
						float: left;
						width: 55%;
						padding: 20px 30px 20px 20px;
						@media #{$mq-xxl-max} {
							padding: 20px;
						}
						li{
							padding: 8px 5px;
							border-bottom: 2px solid #888;
							@media #{$mq-xxl-max} {
								padding: 5px 5px;
							}
						}
					}
				}
				.empresa-destaque{
					width: 100%;
					padding: 30px 60px;
					clear: both;
					margin-top: 30px;
					background: url("../img/bg-destaque-m&a.jpg") no-repeat center 0 #f6f6f6;
					@media #{$mq-xxl-max} {
						padding: 20px 60px;
					}
					@media #{$mq-xs-max} {
						padding: 20px 30px;
					}
					p{	
						font-family: $font-padrao;
						color: #292C28;
						margin-bottom: 12px;
						i{
							margin-left: 6px;
							@media #{$mq-md-max} {
								img{
									width: 16px;
								}
							}
						}
					}
					.img-destaque{
						width: 100%;
						position: relative;
						img{
							width: 100%;
						}
						.codigo-txt{
							font-size: 44px;
							font-weight: bold;
							font-family: $font-padrao;
							color: #292c28;
							margin: auto;
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							display: flex;
							-webkit-align-items: center;
							align-items: center;
							-webkit-justify-content: center;
							justify-content: center;
							@media #{$mq-xxl-max} {
								font-size: 38px;
							}
							@media #{$mq-md-max} {
								font-size: 28px;
							}
							@media #{$mq-sm-max} {
								font-size: 32px;
							}
							@media #{$mq-xs-max} {
								font-size: 22px;
							}
						}	
					}
				}//empresa-destaque
				.bt-padrao{
					clear: both;
					margin: 30px auto;
					text-align: center;
				}
			}
		}//d-flex
	}//box-empresa
}//servicos


/*INTERNAS*/
.parallax-img{
	height: 290px;	
	@media #{$mq-sm-max} {
		height: 200px;
	}
	@media #{$mq-xs-max} {
		height: 160px;
	}
}

.tit-land{
	margin-bottom: 28px;
	position: relative;
	height: 100%;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	@media #{$mq-sm-max} {
		-webkit-justify-content: center;
		justify-content: center;
	}
	span{
		font-size: 43px;
		font-weight: bold;
		color: $cor-principal;
		text-transform: uppercase;
		letter-spacing: -1px;
		@media #{$mq-lg-max} {
			font-size: 38px;
		}
		@media #{$mq-md-max} {
			font-size: 32px;
			letter-spacing: 0px;
		}
		@media #{$mq-xs-max} {
			font-size: 28px;
		}
	}
	i{
		width: 100px;
		height: 1px;
		margin-left: 8px;
		position: relative;
		background: $cor-principal;
		@media #{$mq-sm-max} {
			width: 70px;
		}
		&:before{
			content: "";
			display: block;
			position: absolute;
			top: -6px;
			right: -20px;
			width: 12px;
			height: 12px;
			background: $cor-principal;
			-webkit-border-radius: 20px;
			border-radius: 20px;
		}
	}
}