@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");
body::before {
  content: 'f.hd';
  display: block;
  position: fixed;
  font-family: sans-serif;
  bottom: 0;
  left: 0;
  margin: 25px;
  opacity: .9;
  pointer-events: none;
  padding: 10px;
  font-size: 14px;
  color: white;
  background: black;
  z-index: 99999999999; }
  @media only screen and (max-width: 1660px) {
    body::before {
      content: 'xxl'; } }
  @media only screen and (max-width: 1360px) {
    body::before {
      content: 'xl'; } }
  @media only screen and (max-width: 1200px) {
    body::before {
      content: 'lg'; } }
  @media only screen and (max-width: 992px) {
    body::before {
      content: 'md'; } }
  @media only screen and (max-width: 767px) {
    body::before {
      content: 'sm'; } }
  @media only screen and (max-width: 575px) {
    body::before {
      content: 'xs'; } }
  @media only screen and (max-width: 420px) {
    body::before {
      content: 'xxs'; } }
  @media only screen and (max-width: 375px) {
    body::before {
      content: 'xxxs'; } }
  @media only screen and (max-width: 330px) {
    body::before {
      content: 'old'; } }

/*FONTS*/
/*FONTS*/
@font-face {
  font-family: 'Effra';
  src: url("../fonts/Effra-Light.eot");
  src: url("../fonts/Effra-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Effra-Light.svg#Effra-Light") format("svg"), url("../fonts/Effra-Light.ttf") format("truetype"), url("../fonts/Effra-Light.woff") format("woff"), url("../fonts/Effra-Light.woff2") format("woff2");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Effra';
  src: url("../fonts/Effra-Regular.eot");
  src: url("../fonts/Effra-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Effra-Regular.svg#Effra-Regular") format("svg"), url("../fonts/Effra-Regular.ttf") format("truetype"), url("../fonts/Effra-Regular.woff") format("woff"), url("../fonts/Effra-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Effra';
  src: url("../fonts/Effra-Medium.eot");
  src: url("../fonts/Effra-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Effra-Medium.svg#Effra-Medium") format("svg"), url("../fonts/Effra-Medium.ttf") format("truetype"), url("../fonts/Effra-Medium.woff") format("woff"), url("../fonts/Effra-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Effra';
  src: url("../fonts/EffraHeavy-Regular.eot");
  src: url("../fonts/EffraHeavy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/EffraHeavy-Regular.svg#EffraHeavy-Regular") format("svg"), url("../fonts/EffraHeavy-Regular.ttf") format("truetype"), url("../fonts/EffraHeavy-Regular.woff") format("woff"), url("../fonts/EffraHeavy-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal; }

/*GERAL*/
html {
  height: 100%; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a, a:hover {
  text-decoration: none; }

p {
  margin: 0; }

*:focus, *:hover {
  outline: none; }

body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

* {
  outline: none;
  font-family: "Effra", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

strong {
  font-weight: bold; }

svg {
  width: 100%;
  height: 100%; }

/*TAMANHOS*/
/*CORES*/
.container {
  max-width: 1530px; }
  @media only screen and (max-width: 1360px) {
    .container {
      max-width: 90%; } }
  @media only screen and (max-width: 992px) {
    .container {
      max-width: 95%; } }
  @media only screen and (max-width: 575px) {
    .container {
      max-width: 100%; } }

.container-top {
  width: 96%;
  max-width: 1740px;
  margin: 0 auto; }

.box-txt p {
  margin-bottom: 35px;
  font-family: "Open Sans", sans-serif;
  color: #000; }
  .box-txt p:last-child {
    margin-bottom: 0; }

.txt-cinza {
  color: #373935 !important; }

/*TEXTOS*/
.tit-page {
  color: #fff;
  text-transform: uppercase;
  font-size: 4.12rem;
  font-weight: 900;
  margin-bottom: 0;
  margin-right: 170px;
  letter-spacing: -2px;
  text-align: right;
  position: relative; }
  @media only screen and (max-width: 1660px) {
    .tit-page {
      font-size: 3.62rem; } }
  @media only screen and (max-width: 1200px) {
    .tit-page {
      font-size: 46px;
      margin-right: 130px; } }
  @media only screen and (max-width: 992px) {
    .tit-page {
      margin-right: 100px; } }
  @media only screen and (max-width: 767px) {
    .tit-page {
      font-size: 28px;
      letter-spacing: -1px;
      width: 96%;
      padding: 0;
      margin: 0 0; } }
  @media only screen and (max-width: 575px) {
    .tit-page {
      font-size: 22px;
      letter-spacing: 0;
      width: 94%; } }
  @media only screen and (max-width: 420px) {
    .tit-page {
      font-size: 17px;
      width: 92%; } }
  @media only screen and (max-width: 375px) {
    .tit-page {
      font-size: 16px;
      width: 95%; } }
  .tit-page span {
    font-size: 1.75rem;
    font-weight: normal;
    color: #eda900;
    display: block;
    letter-spacing: 5px;
    line-height: 100%;
    text-shadow: 0 0 18px #000; }
    @media only screen and (max-width: 1660px) {
      .tit-page span {
        font-size: 1.5rem; } }
    @media only screen and (max-width: 1200px) {
      .tit-page span {
        font-size: 1.25rem; } }
    @media only screen and (max-width: 767px) {
      .tit-page span {
        font-size: 16px;
        margin: 0px auto;
        letter-spacing: 2px; } }
    @media only screen and (max-width: 575px) {
      .tit-page span {
        font-size: 14px;
        letter-spacing: 1px; } }
  .tit-page i {
    position: absolute;
    bottom: -25px;
    right: 0px;
    width: 140px;
    height: 14px;
    background: #eda900;
    -webkit-transform: skewX(-30deg);
    -moz-transform: skewX(-30deg);
    -ms-transform: skewX(-30deg);
    -o-transform: skewX(-30deg);
    transform: skewX(-30deg); }
    @media only screen and (max-width: 1200px) {
      .tit-page i {
        width: 120px;
        height: 10px; } }
    @media only screen and (max-width: 767px) {
      .tit-page i {
        right: 0;
        bottom: -18px;
        width: 110px;
        height: 10px; } }
    @media only screen and (max-width: 575px) {
      .tit-page i {
        width: 100px;
        height: 5px;
        bottom: -10px; } }

.sub-tit-page {
  color: #373935;
  text-transform: uppercase;
  font-size: 3.875rem;
  font-weight: 900;
  line-height: 100%;
  margin-bottom: 0;
  letter-spacing: -1px; }
  @media only screen and (max-width: 1660px) {
    .sub-tit-page {
      font-size: 3.25rem; } }
  @media only screen and (max-width: 1360px) {
    .sub-tit-page {
      font-size: 2.875rem;
      letter-spacing: 0px; } }
  @media only screen and (max-width: 1200px) {
    .sub-tit-page {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 767px) {
    .sub-tit-page {
      font-size: 2.12rem; } }
  @media only screen and (max-width: 575px) {
    .sub-tit-page {
      font-size: 1.75rem; } }
  @media only screen and (max-width: 420px) {
    .sub-tit-page {
      font-size: 25px; } }
  .sub-tit-page span {
    font-size: 2.18rem;
    font-weight: normal;
    color: #eda900;
    display: block;
    letter-spacing: 4px;
    line-height: 100%; }
    @media only screen and (max-width: 1660px) {
      .sub-tit-page span {
        font-size: 1.7rem;
        letter-spacing: 3px; } }
    @media only screen and (max-width: 1360px) {
      .sub-tit-page span {
        font-size: 1.56rem; } }
    @media only screen and (max-width: 1200px) {
      .sub-tit-page span {
        font-size: 1.37rem; } }
    @media only screen and (max-width: 575px) {
      .sub-tit-page span {
        font-size: 1.25rem; } }
    @media only screen and (max-width: 420px) {
      .sub-tit-page span {
        font-size: 18px; } }

.txt {
  font-size: 1.25rem;
  line-height: 35px; }
  @media only screen and (max-width: 1660px) {
    .txt {
      font-size: 1.12rem;
      line-height: 32px; } }
  @media only screen and (max-width: 1360px) {
    .txt {
      font-size: 1rem;
      line-height: 28px; } }
  @media only screen and (max-width: 767px) {
    .txt {
      font-size: 0.875rem;
      line-height: 28px; } }
  @media only screen and (max-width: 575px) {
    .txt {
      line-height: 24px; } }

.txt-medium {
  font-size: 20px;
  line-height: 135%; }
  @media only screen and (max-width: 1660px) {
    .txt-medium {
      font-size: 18px; } }
  @media only screen and (max-width: 1200px) {
    .txt-medium {
      font-size: 16px; } }
  @media only screen and (max-width: 767px) {
    .txt-medium {
      font-size: 14px; } }

/*BOTOES*/
.bt-padrao {
  padding: 25px 0; }
  @media only screen and (max-width: 767px) {
    .bt-padrao {
      padding: 0 0 10px;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center; } }
  .bt-padrao a, .bt-padrao button {
    font-size: 1.62rem;
    font-weight: 500;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 25px 60px;
    position: relative;
    -webkit-box-shadow: inset 0 0 0 2px #eda900;
    box-shadow: inset 0 0 0 2px #eda900;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all linear 150ms;
    transition: all linear 150ms; }
    @media only screen and (max-width: 1660px) {
      .bt-padrao a, .bt-padrao button {
        font-size: 1.25rem;
        padding: 20px 40px; } }
    @media only screen and (max-width: 767px) {
      .bt-padrao a, .bt-padrao button {
        font-size: 1rem;
        padding: 14px 30px;
        width: 200px;
        line-height: 110%;
        letter-spacing: 0px; } }
    @media only screen and (max-width: 575px) {
      .bt-padrao a, .bt-padrao button {
        font-size: 14px;
        padding: 10px 20px;
        width: 180px; } }
    @media only screen and (max-width: 575px) {
      .bt-padrao a, .bt-padrao button {
        padding: 12px 15px;
        width: 160px; } }
    .bt-padrao a:before, .bt-padrao button:before {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      background: #eda900;
      position: absolute;
      bottom: -6px;
      left: 40px;
      right: 0;
      margin: 0 auto;
      -webkit-border-radius: 30px;
      border-radius: 30px;
      z-index: 1;
      -webkit-transition: all linear 200ms;
      transition: all linear 200ms; }
      @media only screen and (max-width: 767px) {
        .bt-padrao a:before, .bt-padrao button:before {
          width: 12px;
          height: 12px;
          bottom: -5px; } }
    .bt-padrao a:after, .bt-padrao button:after {
      content: "";
      display: block;
      width: 70px;
      height: 2px;
      background: #fff;
      position: absolute;
      bottom: 0px;
      left: 100px;
      right: 0;
      margin: 0 auto;
      -webkit-transition: all linear 200ms;
      transition: all linear 200ms; }
      @media only screen and (max-width: 767px) {
        .bt-padrao a:after, .bt-padrao button:after {
          width: 50px; } }
    .bt-padrao a:hover, .bt-padrao button:hover {
      color: #eda900; }
      .bt-padrao a:hover:before, .bt-padrao button:hover:before {
        left: -40px; }
      .bt-padrao a:hover:after, .bt-padrao button:hover:after {
        left: -100px; }

.social-media {
  display: flex;
  position: relative;
  z-index: 1; }
  .social-media li {
    width: 38px;
    height: 38px;
    float: left;
    margin-left: 25px;
    position: relative; }
    @media only screen and (max-width: 1660px) {
      .social-media li {
        width: 32px;
        height: 32px; } }
    .social-media li .circulo {
      width: 38px;
      height: 38px;
      position: absolute;
      border: 3px solid #fff;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      border-top: 3px solid transparent;
      z-index: -1;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transition: all 20ms;
      -moz-transition: all 200ms;
      -ms-transition: all 200ms;
      -o-transition: all 200ms;
      transition: all linear 200ms; }
      @media only screen and (max-width: 1660px) {
        .social-media li .circulo {
          width: 32px;
          height: 32px; } }
    .social-media li a {
      width: 100%;
      height: 100%;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center; }
      .social-media li a svg {
        width: 38px;
        height: 38px; }
        @media only screen and (max-width: 1660px) {
          .social-media li a svg {
            width: 32px;
            height: 32px; } }
        .social-media li a svg path {
          fill: #fff;
          -webkit-transition: all 20ms;
          -moz-transition: all 200ms;
          -ms-transition: all 200ms;
          -o-transition: all 200ms;
          transition: all linear 200ms; }
    .social-media li:hover .circulo {
      border: 3px solid #eda900;
      border-top: 3px solid transparent;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
    .social-media li:hover a svg path {
      fill: #eda900; }

.box-form {
  margin: 0 auto; }
  .box-form input, .box-form textarea {
    width: 100%;
    border: none;
    padding: 15px 20px;
    font-size: 20px;
    color: #000;
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all linear 100ms;
    transition: all linear 100ms; }
    .box-form input:focus, .box-form textarea:focus {
      outline: 0;
      border-bottom: 1px solid #eda900; }
    @media only screen and (max-width: 992px) {
      .box-form input, .box-form textarea {
        font-size: 22px;
        padding: 10px 15px; } }
    @media only screen and (max-width: 767px) {
      .box-form input, .box-form textarea {
        font-size: 20px; } }
    @media only screen and (max-width: 575px) {
      .box-form input, .box-form textarea {
        font-size: 16px;
        padding: 8px 12px; } }
  .box-form textarea {
    height: 115px; }
  .box-form .bt-padrao-submit {
    width: 270px;
    height: 80px;
    -webkit-box-shadow: inset 0 0 0 2px #eda900;
    box-shadow: inset 0 0 0 2px #eda900;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all linear 150ms;
    transition: all linear 150ms;
    position: relative; }
    @media only screen and (max-width: 767px) {
      .box-form .bt-padrao-submit {
        width: 200px;
        height: 50px;
        margin: 0 auto; } }
    @media only screen and (max-width: 575px) {
      .box-form .bt-padrao-submit {
        width: 160px;
        height: 48px; } }
    .box-form .bt-padrao-submit:before {
      content: "";
      display: block;
      width: 15px;
      height: 15px;
      background: #eda900;
      position: absolute;
      bottom: -6px;
      left: 40px;
      right: 0;
      margin: 0 auto;
      -webkit-border-radius: 30px;
      border-radius: 30px;
      z-index: 1;
      -webkit-transition: all linear 200ms;
      transition: all linear 200ms; }
    .box-form .bt-padrao-submit:after {
      content: "";
      display: block;
      width: 70px;
      height: 2px;
      background: #fff;
      position: absolute;
      bottom: 0px;
      left: 100px;
      right: 0;
      margin: 0 auto;
      -webkit-transition: all linear 200ms;
      transition: all linear 200ms; }
    .box-form .bt-padrao-submit input[type="submit"] {
      width: 100%;
      height: 100%;
      font-size: 1.62rem;
      font-weight: 500;
      color: #000;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: -1px;
      border: none;
      background: none;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      -webkit-transition: all linear 150ms;
      transition: all linear 150ms; }
      @media only screen and (max-width: 1660px) {
        .box-form .bt-padrao-submit input[type="submit"] {
          font-size: 1.25rem; } }
      @media only screen and (max-width: 767px) {
        .box-form .bt-padrao-submit input[type="submit"] {
          font-size: 1rem;
          letter-spacing: 0px; } }
    .box-form .bt-padrao-submit:hover:before {
      left: -40px; }
    .box-form .bt-padrao-submit:hover:after {
      left: -100px; }
    .box-form .bt-padrao-submit:hover input[type="submit"] {
      color: #eda900; }

::-webkit-input-placeholder {
  color: #bebebe; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #bebebe; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #bebebe; }

:-ms-input-placeholder {
  color: #bebebe; }

.modal {
  padding-right: 0px !important; }
  @media only screen and (max-width: 575px) {
    .modal {
      padding: 20px 0; } }
  @media only screen and (max-width: 992px) {
    .modal .modal-dialog {
      max-width: 70% !important; } }
  @media only screen and (max-width: 767px) {
    .modal .modal-dialog {
      max-width: 85% !important;
      margin: auto; } }
  .modal .modal-header {
    padding: 0;
    border-bottom: none;
    height: 110px;
    position: relative;
    margin-bottom: 30px;
    background: url("../img/bg-topo-trabalhe.jpg") no-repeat center top;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%; }
    @media only screen and (max-width: 992px) {
      .modal .modal-header {
        height: 80px; } }
    .modal .modal-header .modal-title {
      font-size: 2.18rem;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 4px;
      position: relative;
      z-index: 1;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      height: 100%;
      padding-left: 7%; }
      @media only screen and (max-width: 1360px) {
        .modal .modal-header .modal-title {
          font-size: 28px; } }
      @media only screen and (max-width: 992px) {
        .modal .modal-header .modal-title {
          font-size: 20px;
          letter-spacing: 2px; } }
      @media only screen and (max-width: 767px) {
        .modal .modal-header .modal-title {
          font-size: 16px; } }
      @media only screen and (max-width: 575px) {
        .modal .modal-header .modal-title {
          font-size: 14px;
          letter-spacing: 1px; } }
      .modal .modal-header .modal-title:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 350px;
        height: 110px;
        background: #eda900;
        z-index: -1; }
        @media only screen and (max-width: 992px) {
          .modal .modal-header .modal-title:before {
            width: 260px;
            height: 80px; } }
        @media only screen and (max-width: 575px) {
          .modal .modal-header .modal-title:before {
            width: 220px;
            height: 80px; } }
    .modal .modal-header .close {
      width: 50px;
      height: 50px;
      -webkit-box-shadow: 0 0 0 2px #000;
      box-shadow: 0 0 0 2px #000;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center;
      padding: 0;
      margin: 30px 15px;
      outline: none;
      font-size: 50px;
      font-weight: 300;
      color: #000;
      position: absolute;
      top: 0;
      right: 0; }
      @media only screen and (max-width: 992px) {
        .modal .modal-header .close {
          margin: 15px 15px;
          width: 40px;
          height: 40px; } }
  .modal .modal-diferenciado .modal-header {
    height: 190px;
    background: url("../img/bg-topo-trabalhe1.jpg") no-repeat center top; }
    @media only screen and (max-width: 575px) {
      .modal .modal-diferenciado .modal-header {
        height: 100px; } }
  .modal .modal-diferenciado .modal-conteudo {
    margin-top: 0px; }
    .modal .modal-diferenciado .modal-conteudo:before {
      display: none; }
    .modal .modal-diferenciado .modal-conteudo .bg-modal {
      position: relative;
      margin-bottom: 80px; }
      .modal .modal-diferenciado .modal-conteudo .bg-modal:before {
        content: "";
        display: block;
        position: absolute;
        bottom: -40px;
        left: -40px;
        width: 200px;
        height: 200px;
        background: #eda900; }
      .modal .modal-diferenciado .modal-conteudo .bg-modal .fundo {
        background: #333;
        position: relative;
        padding: 100px 0; }
        @media only screen and (max-width: 575px) {
          .modal .modal-diferenciado .modal-conteudo .bg-modal .fundo {
            padding: 70px 0 40px; } }
        .modal .modal-diferenciado .modal-conteudo .bg-modal .fundo i {
          position: absolute;
          top: -130px;
          right: 80px; }
          @media only screen and (max-width: 1360px) {
            .modal .modal-diferenciado .modal-conteudo .bg-modal .fundo i {
              top: -100px; } }
          @media only screen and (max-width: 575px) {
            .modal .modal-diferenciado .modal-conteudo .bg-modal .fundo i {
              top: -50px;
              right: 20px; } }
          @media only screen and (max-width: 1360px) {
            .modal .modal-diferenciado .modal-conteudo .bg-modal .fundo i img {
              width: 170px; } }
          @media only screen and (max-width: 575px) {
            .modal .modal-diferenciado .modal-conteudo .bg-modal .fundo i img {
              width: 90px; } }
        .modal .modal-diferenciado .modal-conteudo .bg-modal .fundo .box-txt {
          width: 80%;
          max-width: 580px;
          margin: 0 auto; }
          @media only screen and (max-width: 1360px) {
            .modal .modal-diferenciado .modal-conteudo .bg-modal .fundo .box-txt {
              max-width: 520px; } }
          .modal .modal-diferenciado .modal-conteudo .bg-modal .fundo .box-txt p {
            color: #eda900;
            text-align: center;
            font-size: 22px;
            font-weight: bold;
            font-family: "Open Sans", sans-serif; }
            @media only screen and (max-width: 1360px) {
              .modal .modal-diferenciado .modal-conteudo .bg-modal .fundo .box-txt p {
                font-size: 20px; } }
            @media only screen and (max-width: 992px) {
              .modal .modal-diferenciado .modal-conteudo .bg-modal .fundo .box-txt p {
                font-size: 18px; } }
            @media only screen and (max-width: 767px) {
              .modal .modal-diferenciado .modal-conteudo .bg-modal .fundo .box-txt p {
                font-size: 16px; } }
  .modal .modal-conteudo {
    width: 100%;
    float: left;
    margin: 0;
    position: relative; }
    .modal .modal-conteudo:before {
      content: "";
      display: block;
      position: absolute;
      top: -100px;
      left: 5%;
      width: 1px;
      height: 370px;
      background: #000;
      z-index: 2; }
      @media only screen and (max-width: 992px) {
        .modal .modal-conteudo:before {
          height: 270px; } }
    .modal .modal-conteudo .box-conteudo-modal {
      width: 85%;
      margin: 0 0;
      padding: 10px 0 30px 7%; }
      @media only screen and (max-width: 1200px) {
        .modal .modal-conteudo .box-conteudo-modal {
          width: 92%;
          margin: 0 auto;
          padding: 40px 40px; } }
      @media only screen and (max-width: 992px) {
        .modal .modal-conteudo .box-conteudo-modal {
          width: 100%;
          padding: 40px 40px; } }
      @media only screen and (max-width: 767px) {
        .modal .modal-conteudo .box-conteudo-modal {
          padding: 0px 30px 20px; } }
      .modal .modal-conteudo .box-conteudo-modal .box-form {
        max-width: 500px;
        margin: 0 auto; }
        .modal .modal-conteudo .box-conteudo-modal .box-form .linha {
          margin-bottom: 20px; }
          .modal .modal-conteudo .box-conteudo-modal .box-form .linha:last-child {
            margin-bottom: 0; }
        .modal .modal-conteudo .box-conteudo-modal .box-form .bt-padrao {
          text-align: center;
          margin-bottom: 20px; }
        .modal .modal-conteudo .box-conteudo-modal .box-form .box-txt p {
          text-align: center;
          margin-bottom: 0; }
          .modal .modal-conteudo .box-conteudo-modal .box-form .box-txt p a {
            color: #000;
            font-weight: bold;
            text-decoration: underline; }
            .modal .modal-conteudo .box-conteudo-modal .box-form .box-txt p a:hover {
              color: #eda900; }

.js .inputfile {
  display: none;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.inputfile + label {
  width: auto;
  outline: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  margin-bottom: 0 !important; }

.no-js .inputfile + label {
  display: none; }

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px; }

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */ }

/* style 1 */
.inputfile-1 + label {
  background: #eda900;
  border: none;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
  cursor: pointer;
  padding: 10px 10px;
  width: auto;
  text-align: center;
  -webkit-border-radius: 50px;
  border-radius: 50px; }
  @media only screen and (max-width: 767px) {
    .inputfile-1 + label {
      width: 100% !important;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center; } }

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  outline: none; }

header {
  height: 110px;
  position: relative;
  z-index: 9;
  background: #292c28;
  /*MENU MOBILE*/ }
  @media only screen and (max-width: 767px) {
    header {
      height: 70px; } }
  header h1.logo {
    width: 330px;
    margin-bottom: 0;
    margin-left: 20px; }
    @media only screen and (max-width: 1660px) {
      header h1.logo {
        width: 280px; } }
    @media only screen and (max-width: 1360px) {
      header h1.logo {
        width: 230px; } }
    @media only screen and (max-width: 1200px) {
      header h1.logo {
        width: 200px; } }
    @media only screen and (max-width: 992px) {
      header h1.logo {
        width: 180px; } }
  header nav.menu-principal {
    margin: 0 20px;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-grow: 1;
    flex-grow: 1; }
    @media only screen and (max-width: 767px) {
      header nav.menu-principal {
        display: none; } }
    header nav.menu-principal ul.menu {
      display: flex;
      -webkit-align-items: center;
      align-items: center; }
      header nav.menu-principal ul.menu li {
        position: relative; }
        @media only screen and (max-width: 1660px) {
          header nav.menu-principal ul.menu li {
            line-height: 100%; } }
        header nav.menu-principal ul.menu li:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          background: #eda900;
          width: 0%;
          height: 100%;
          z-index: -1;
          -webkit-transition: all 200ms;
          -moz-transition: all 200ms;
          -ms-transition: all 200ms;
          -o-transition: all 200ms;
          transition: all linear 200ms;
          -webkit-transform: skewX(-30deg);
          -moz-transform: skewX(-30deg);
          -ms-transform: skewX(-30deg);
          -o-transform: skewX(-30deg);
          transform: skewX(-30deg); }
        header nav.menu-principal ul.menu li a {
          padding: 6px 16px;
          color: #FFF;
          font-size: 1rem;
          letter-spacing: 3px;
          text-transform: uppercase; }
          @media only screen and (max-width: 1660px) {
            header nav.menu-principal ul.menu li a {
              padding: 6px 10px;
              font-size: 0.93rem;
              letter-spacing: 1.5px; } }
          @media only screen and (max-width: 1200px) {
            header nav.menu-principal ul.menu li a {
              font-size: 0.875rem;
              letter-spacing: 1px;
              padding: 6px 6px;
              display: flex;
              text-align: center; } }
        header nav.menu-principal ul.menu li.current-menu-item:after, header nav.menu-principal ul.menu li:hover:after, header nav.menu-principal ul.menu li.current_page_ancestor:after {
          height: 100%;
          width: 100%; }
        header nav.menu-principal ul.menu li.menu-item-has-children {
          position: relative; }
          header nav.menu-principal ul.menu li.menu-item-has-children .sub-menu {
            width: 350px;
            background: rgba(0, 0, 0, 0.97);
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: -10px;
            left: -8px;
            right: 0;
            margin: 0 auto;
            padding: 0px;
            z-index: -1;
            -webkit-box-shadow: 0 20px 20px 5px rgba(51, 51, 51, 0.6);
            box-shadow: 0 20px 20px 5px rgba(51, 51, 51, 0.6);
            -webkit-transition: all 120ms;
            -moz-transition: all 120ms;
            -ms-transition: all 120ms;
            -o-transition: all 120ms;
            transition: all linear 120ms; }
            header nav.menu-principal ul.menu li.menu-item-has-children .sub-menu li {
              padding-bottom: 0px;
              margin-bottom: 0px; }
              header nav.menu-principal ul.menu li.menu-item-has-children .sub-menu li:last-child {
                border-bottom: none;
                margin-bottom: 0;
                padding-bottom: 0; }
              header nav.menu-principal ul.menu li.menu-item-has-children .sub-menu li:after {
                display: none; }
              header nav.menu-principal ul.menu li.menu-item-has-children .sub-menu li a {
                width: 100%;
                float: left;
                padding: 14px 14px 14px 25px;
                color: #FFF;
                font-size: 14px;
                font-family: "Open Sans", sans-serif;
                letter-spacing: 0px;
                text-transform: none;
                -webkit-transition: all 120ms;
                -moz-transition: all 120ms;
                -ms-transition: all 120ms;
                -o-transition: all 120ms;
                transition: all linear 120ms; }
              header nav.menu-principal ul.menu li.menu-item-has-children .sub-menu li:hover a {
                color: #eda900;
                background: #1D1D1D; }
              header nav.menu-principal ul.menu li.menu-item-has-children .sub-menu li.current_page_item a {
                color: #eda900;
                background: #1D1D1D; }
          header nav.menu-principal ul.menu li.menu-item-has-children:hover .sub-menu {
            top: 30px;
            visibility: visible;
            opacity: 1;
            display: block;
            z-index: 1; }
  header .menuMob {
    display: none; }
    @media only screen and (max-width: 767px) {
      header .menuMob {
        display: block;
        z-index: 101; } }
    header .menuMob .drawer-hamburger {
      border: none;
      right: 10px !important;
      top: 15px;
      padding: 0px 0;
      width: 30px;
      height: 30px;
      outline: none; }
    header .menuMob .drawer-nav {
      background: #000; }
      header .menuMob .drawer-nav .bar-menu-mob {
        max-width: 300px;
        margin: 20px 0 20px; }
        @media only screen and (max-width: 575px) {
          header .menuMob .drawer-nav .bar-menu-mob {
            width: 180px; } }
      header .menuMob .drawer-nav .drawer-menu {
        text-align: center; }
        header .menuMob .drawer-nav .drawer-menu li {
          float: left;
          width: 100%; }
          header .menuMob .drawer-nav .drawer-menu li:first-child a {
            border-top: none; }
          header .menuMob .drawer-nav .drawer-menu li.current-menu-item a {
            background: #eda900;
            color: #FFF; }
          header .menuMob .drawer-nav .drawer-menu li.current-menu-item .sub-menu li a {
            background: none;
            color: #eda900; }
          header .menuMob .drawer-nav .drawer-menu li a {
            width: 100%;
            height: 100%;
            float: left;
            margin: 0 auto;
            padding: 5px 0;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            color: #eda900;
            border-top: 1px solid #eda900; }
          header .menuMob .drawer-nav .drawer-menu li .sub-menu {
            margin-top: 6px;
            clear: both;
            height: 100%;
            overflow: hidden; }
            header .menuMob .drawer-nav .drawer-menu li .sub-menu li a {
              border-top: none;
              font-size: 16px;
              font-weight: normal; }
  header .drawer-open {
    height: 100%; }
  header .drawer-open .drawer-hamburger-icon {
    background-color: transparent !important; }
  header .menuMob .drawer-hamburger .drawer-hamburger-icon,
  header .menuMob .drawer-hamburger .drawer-hamburger-icon:before,
  header .menuMob .drawer-hamburger .drawer-hamburger-icon:after {
    background: #eda900; }
  header .social-media {
    right: 20px; }
    @media only screen and (max-width: 992px) {
      header .social-media {
        display: none; } }

footer {
  width: 100%;
  height: 345px;
  background: url("../img/bg-rodape.jpg") no-repeat center 30px;
  position: relative;
  padding-top: 30px;
  overflow: hidden; }
  @media only screen and (max-width: 1200px) {
    footer {
      height: auto;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding-bottom: 20px; } }
  @media only screen and (max-width: 767px) {
    footer {
      overflow: visible;
      background: #1e201d; } }
  footer .info-rodape {
    width: 50%;
    padding-top: 60px; }
    @media only screen and (max-width: 767px) {
      footer .info-rodape {
        width: 100%;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        justify-content: center; } }
    footer .info-rodape .logo-rodape {
      width: 40%;
      max-width: 330px; }
      @media only screen and (max-width: 767px) {
        footer .info-rodape .logo-rodape {
          margin-bottom: 10px; } }
      footer .info-rodape .logo-rodape .social-media {
        margin-top: 40px;
        -webkit-justify-content: center;
        justify-content: center; }
        footer .info-rodape .logo-rodape .social-media li:first-child {
          margin-left: 0; }
    footer .info-rodape .menu-rodape {
      width: 60%;
      padding-left: 5%; }
      @media only screen and (max-width: 767px) {
        footer .info-rodape .menu-rodape {
          display: none; } }
      footer .info-rodape .menu-rodape ul {
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        footer .info-rodape .menu-rodape ul li {
          margin-bottom: 8px;
          width: 50%; }
          footer .info-rodape .menu-rodape ul li a {
            color: #FFF;
            font-size: 1.37rem;
            font-weight: 300;
            letter-spacing: 1px;
            font-family: "Open Sans", sans-serif;
            -webkit-transition: all 200ms;
            -moz-transition: all 200ms;
            -ms-transition: all 200ms;
            -o-transition: all 200ms;
            transition: all linear 200ms; }
            @media only screen and (max-width: 1360px) {
              footer .info-rodape .menu-rodape ul li a {
                font-size: 1.25rem; } }
            @media only screen and (max-width: 1200px) {
              footer .info-rodape .menu-rodape ul li a {
                font-size: 1.125rem; } }
            @media only screen and (max-width: 992px) {
              footer .info-rodape .menu-rodape ul li a {
                font-size: 1rem; } }
            footer .info-rodape .menu-rodape ul li a:hover {
              color: #eda900;
              text-decoration: underline; }
  footer .newsletter {
    width: 48%;
    position: absolute;
    right: 0;
    z-index: 4; }
    @media only screen and (max-width: 767px) {
      footer .newsletter {
        position: relative;
        padding: 0;
        margin: -70px 0px 0 4%;
        width: 98%;
        max-width: 100%; } }
    footer .newsletter .box-newsletter {
      height: 200px;
      background: #eda900;
      margin-top: -30px;
      display: flex;
      -webkit-align-items: center;
      align-items: center; }
      @media only screen and (max-width: 1360px) {
        footer .newsletter .box-newsletter {
          height: 140px; } }
      @media only screen and (max-width: 992px) {
        footer .newsletter .box-newsletter {
          -webkit-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-align-items: flex-start;
          align-items: flex-start; } }
      footer .newsletter .box-newsletter .tit-news {
        color: #FFF;
        font-size: 1.87rem;
        font-weight: 200;
        line-height: 120%;
        text-transform: uppercase; }
        @media only screen and (max-width: 1660px) {
          footer .newsletter .box-newsletter .tit-news {
            font-size: 1.56rem; } }
        @media only screen and (max-width: 1360px) {
          footer .newsletter .box-newsletter .tit-news {
            font-size: 1.25rem; } }
        @media only screen and (max-width: 1200px) {
          footer .newsletter .box-newsletter .tit-news {
            font-size: 1.12rem; } }
        @media only screen and (max-width: 767px) {
          footer .newsletter .box-newsletter .tit-news {
            width: 100%;
            margin-bottom: 15px; } }
        footer .newsletter .box-newsletter .tit-news strong {
          font-size: 2.81rem;
          display: block; }
          @media only screen and (max-width: 1660px) {
            footer .newsletter .box-newsletter .tit-news strong {
              font-size: 2.37rem; } }
          @media only screen and (max-width: 1360px) {
            footer .newsletter .box-newsletter .tit-news strong {
              font-size: 1.87rem; } }
          @media only screen and (max-width: 1200px) {
            footer .newsletter .box-newsletter .tit-news strong {
              font-size: 1.56rem; } }
      footer .newsletter .box-newsletter .box-form {
        -webkit-flex-grow: 1;
        flex-grow: 1; }
        @media only screen and (max-width: 767px) {
          footer .newsletter .box-newsletter .box-form {
            width: 100%;
            max-width: 100%;
            margin: 0 auto; } }
        footer .newsletter .box-newsletter .box-form .box-form-newsletter {
          display: flex;
          -webkit-align-items: center;
          align-items: center;
          -webkit-justify-content: center;
          justify-content: center; }
          @media only screen and (max-width: 767px) {
            footer .newsletter .box-newsletter .box-form .box-form-newsletter {
              -webkit-justify-content: flex-start;
              justify-content: flex-start; } }
          footer .newsletter .box-newsletter .box-form .box-form-newsletter .linha {
            margin: 0;
            width: 85%; }
            footer .newsletter .box-newsletter .box-form .box-form-newsletter .linha input, footer .newsletter .box-newsletter .box-form .box-form-newsletter .linha textarea {
              color: #fff;
              border-bottom: 1px solid #fff; }
              footer .newsletter .box-newsletter .box-form .box-form-newsletter .linha input:focus, footer .newsletter .box-newsletter .box-form .box-form-newsletter .linha textarea:focus {
                outline: 0;
                border-bottom: 1px solid #000; }
            footer .newsletter .box-newsletter .box-form .box-form-newsletter .linha ::-webkit-input-placeholder {
              color: #fff; }
            footer .newsletter .box-newsletter .box-form .box-form-newsletter .linha :-moz-placeholder {
              /* Firefox 18- */
              color: #fff; }
            footer .newsletter .box-newsletter .box-form .box-form-newsletter .linha ::-moz-placeholder {
              /* Firefox 19+ */
              color: #fff; }
            footer .newsletter .box-newsletter .box-form .box-form-newsletter .linha :-ms-input-placeholder {
              color: #fff; }
          footer .newsletter .box-newsletter .box-form .box-form-newsletter .bt-newsletter {
            display: flex;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            align-items: center; }
            footer .newsletter .box-newsletter .box-form .box-form-newsletter .bt-newsletter input[type="submit"] {
              width: 42px;
              height: 42px;
              display: flex;
              -webkit-justify-content: center;
              justify-content: center;
              -webkit-align-items: center;
              align-items: center;
              background: transparent;
              outline: none;
              font-size: 20px;
              color: #FFF;
              border: 1px solid #fff;
              -webkit-border-radius: 50px;
              border-radius: 50px; }
  footer .bar-footer {
    margin-top: 40px;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center; }
    @media only screen and (max-width: 1200px) {
      footer .bar-footer {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    @media only screen and (max-width: 767px) {
      footer .bar-footer {
        width: 92%;
        margin: 30px auto 0; } }
    footer .bar-footer .endereco {
      display: flex;
      -webkit-align-items: center;
      align-items: center; }
      @media only screen and (max-width: 1200px) {
        footer .bar-footer .endereco {
          width: 100%; } }
      @media only screen and (max-width: 992px) {
        footer .bar-footer .endereco {
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-justify-content: center;
          justify-content: center; } }
      footer .bar-footer .endereco p {
        font-family: "Open Sans", sans-serif;
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 300; }
        @media only screen and (max-width: 1660px) {
          footer .bar-footer .endereco p {
            font-size: 1rem; } }
        @media only screen and (max-width: 767px) {
          footer .bar-footer .endereco p {
            width: 100%;
            text-align: center;
            font-size: 0.875rem;
            margin-bottom: 10px; } }
      @media only screen and (max-width: 767px) {
        footer .bar-footer .endereco .logo-footer {
          width: 100%;
          -webkit-justify-content: center;
          justify-content: center; } }
      @media only screen and (max-width: 1360px) {
        footer .bar-footer .endereco .logo-footer .img {
          max-width: 150px; }
          footer .bar-footer .endereco .logo-footer .img img {
            width: 100%; } }
    footer .bar-footer .by {
      color: #FFF;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 10px;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      letter-spacing: 2px;
      margin-right: 30px; }
      @media only screen and (max-width: 1360px) {
        footer .bar-footer .by {
          margin-right: 55px; } }
      @media only screen and (max-width: 1200px) {
        footer .bar-footer .by {
          width: 100%;
          margin-top: 15px;
          margin-right: 0;
          display: flex;
          -webkit-justify-content: center;
          justify-content: center; } }
      @media only screen and (max-width: 767px) {
        footer .bar-footer .by {
          font-size: 8px; } }
      @media only screen and (max-width: 767px) {
        footer .bar-footer .by .ml-2 img {
          width: 65px; } }

.bt-whats {
  width: 58px;
  height: 58px;
  position: fixed;
  bottom: -20px;
  right: 20px;
  z-index: 99;
  opacity: 0;
  -webkit-transition: all linear 200ms;
  transition: all linear 200ms; }
  .bt-whats.fixedBottom {
    bottom: 20px;
    opacity: 1; }

.servicos {
  overflow: hidden;
  margin-bottom: -40px;
  padding-bottom: 40px; }
  .servicos .box-servicos {
    background: url("../img/bg-contato.jpg") no-repeat center 0;
    margin-bottom: 70px;
    height: 460px;
    margin-top: 110px; }
    @media only screen and (max-width: 1200px) {
      .servicos .box-servicos {
        background-position: -240px center; } }
    @media only screen and (max-width: 767px) {
      .servicos .box-servicos {
        height: auto;
        background: url("../img/bg-quem-somos-mob.jpg") no-repeat center 0;
        margin-top: 30px;
        margin-bottom: 40px; } }
    @media only screen and (max-width: 575px) {
      .servicos .box-servicos {
        -webkit-background-size: 100%;
        -o-background-size: 100%;
        background-size: 100%; } }
    .servicos .box-servicos .descricao-servico {
      padding-bottom: 0px; }
      .servicos .box-servicos .descricao-servico .sub-tit-page {
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;
        height: 302px;
        margin: 0px 0 0;
        line-height: 94%;
        float: right; }
        @media only screen and (max-width: 767px) {
          .servicos .box-servicos .descricao-servico .sub-tit-page {
            height: auto;
            text-align: center !important;
            float: none;
            margin-top: 70px;
            margin-bottom: 40px; } }
        @media only screen and (max-width: 575px) {
          .servicos .box-servicos .descricao-servico .sub-tit-page {
            margin-top: 13%;
            margin-bottom: 6%; } }
        .servicos .box-servicos .descricao-servico .sub-tit-page p {
          margin-left: 40px; }
          @media only screen and (max-width: 1360px) {
            .servicos .box-servicos .descricao-servico .sub-tit-page p {
              margin-left: 20px; } }
          @media only screen and (max-width: 1200px) {
            .servicos .box-servicos .descricao-servico .sub-tit-page p {
              margin-left: 0; } }
      .servicos .box-servicos .descricao-servico .box-descricao {
        margin-top: 60px; }
        @media only screen and (max-width: 767px) {
          .servicos .box-servicos .descricao-servico .box-descricao {
            margin-top: 40px;
            text-align: center; } }
        @media only screen and (max-width: 575px) {
          .servicos .box-servicos .descricao-servico .box-descricao {
            margin-top: 30px; } }
  .servicos .box-codigo-busca {
    height: 210px;
    background: #eda900;
    color: #FFF; }
    .servicos .box-codigo-busca .d-flex {
      height: 100%;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-align-items: center;
      align-items: center; }
      .servicos .box-codigo-busca .d-flex p {
        text-align: center;
        font-size: 25px;
        margin: 0;
        letter-spacing: 3px; }
        @media only screen and (max-width: 1360px) {
          .servicos .box-codigo-busca .d-flex p {
            font-size: 22px; } }
        @media only screen and (max-width: 992px) {
          .servicos .box-codigo-busca .d-flex p {
            font-size: 18px;
            letter-spacing: 2px;
            line-height: 120%; } }
        @media only screen and (max-width: 575px) {
          .servicos .box-codigo-busca .d-flex p {
            font-size: 16px;
            letter-spacing: 1px; } }
      .servicos .box-codigo-busca .d-flex .busca {
        margin: 10px auto 0;
        display: flex;
        width: 90%;
        max-width: 650px; }
        @media only screen and (max-width: 767px) {
          .servicos .box-codigo-busca .d-flex .busca {
            width: 100%;
            max-width: 100%; } }
        .servicos .box-codigo-busca .d-flex .busca label {
          color: #FFF;
          font-size: 42px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: -1px;
          margin-right: 30px; }
          @media only screen and (max-width: 1360px) {
            .servicos .box-codigo-busca .d-flex .busca label {
              font-size: 36px; } }
          @media only screen and (max-width: 992px) {
            .servicos .box-codigo-busca .d-flex .busca label {
              font-size: 30px;
              letter-spacing: -0px; } }
          @media only screen and (max-width: 767px) {
            .servicos .box-codigo-busca .d-flex .busca label {
              font-size: 26px;
              margin-right: 15px; } }
          @media only screen and (max-width: 575px) {
            .servicos .box-codigo-busca .d-flex .busca label {
              font-size: 20px;
              display: none; } }
        .servicos .box-codigo-busca .d-flex .busca .box-form {
          margin: 0;
          width: 100%;
          position: relative; }
          .servicos .box-codigo-busca .d-flex .busca .box-form input[type="text"] {
            border-bottom: 1px solid #fff;
            color: #FFF;
            padding-right: 60px; }
          .servicos .box-codigo-busca .d-flex .busca .box-form ::-webkit-input-placeholder {
            color: #FFF; }
          .servicos .box-codigo-busca .d-flex .busca .box-form :-moz-placeholder {
            /* Firefox 18- */
            color: #FFF; }
          .servicos .box-codigo-busca .d-flex .busca .box-form ::-moz-placeholder {
            /* Firefox 19+ */
            color: #FFF; }
          .servicos .box-codigo-busca .d-flex .busca .box-form :-ms-input-placeholder {
            color: #FFF; }
          .servicos .box-codigo-busca .d-flex .busca .box-form .bt-submit-busca {
            background: url("../img/icone-busca.png") no-repeat center;
            width: 35px;
            height: 36px;
            position: absolute;
            top: 14px;
            right: 10px;
            border-bottom: none;
            padding: 0; }
            @media only screen and (max-width: 992px) {
              .servicos .box-codigo-busca .d-flex .busca .box-form .bt-submit-busca {
                width: 28px;
                height: 30px;
                top: 10px;
                -webkit-background-size: 28px;
                -o-background-size: 28px;
                background-size: 28px; } }
            @media only screen and (max-width: 575px) {
              .servicos .box-codigo-busca .d-flex .busca .box-form .bt-submit-busca {
                width: 24px;
                height: 25px;
                top: 10px;
                -webkit-background-size: 24px;
                -o-background-size: 24px;
                background-size: 24px; } }
  .servicos .box-filtros {
    margin-top: 60px;
    margin-bottom: 90px; }
    @media only screen and (max-width: 992px) {
      .servicos .box-filtros {
        margin-top: 30px;
        margin-bottom: 40px; } }
    .servicos .box-filtros .bg-filtros {
      width: 100%;
      height: 118px;
      background: url("../img/bg-filtro.jpg") no-repeat center 0;
      -webkit-background-size: 1500px;
      -o-background-size: 1500px;
      background-size: 1500px; }
      @media only screen and (max-width: 575px) {
        .servicos .box-filtros .bg-filtros {
          background-repeat-y: repeat;
          height: auto; } }
      .servicos .box-filtros .bg-filtros .ad {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        @media only screen and (max-width: 1200px) {
          .servicos .box-filtros .bg-filtros .ad {
            width: 100%; } }
        .servicos .box-filtros .bg-filtros .ad .bt-filto {
          width: 33.33%;
          display: flex;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-align-items: center;
          align-items: center;
          cursor: pointer;
          height: 100%;
          border-right: 2px solid #1E1E1E;
          position: relative;
          font-size: 20px;
          font-family: "Open Sans", sans-serif;
          text-align: center;
          color: #FFF; }
          @media only screen and (max-width: 575px) {
            .servicos .box-filtros .bg-filtros .ad .bt-filto {
              width: 100%;
              -webkit-flex-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;
              border-right: none;
              border-bottom: 2px solid #1E1E1E; } }
          .servicos .box-filtros .bg-filtros .ad .bt-filto:last-child {
            border-right: none; }
          @media only screen and (max-width: 992px) {
            .servicos .box-filtros .bg-filtros .ad .bt-filto .btt {
              width: 100%;
              padding: 22px 0;
              display: flex;
              -webkit-justify-content: center;
              justify-content: center;
              -webkit-flex-wrap: wrap;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap; } }
          @media only screen and (max-width: 992px) {
            .servicos .box-filtros .bg-filtros .ad .bt-filto .btt span {
              font-size: 16px; } }
          @media only screen and (max-width: 992px) {
            .servicos .box-filtros .bg-filtros .ad .bt-filto .btt i.icone {
              margin: 0 auto;
              width: 100%; }
              .servicos .box-filtros .bg-filtros .ad .bt-filto .btt i.icone img {
                width: 36px; } }
          .servicos .box-filtros .bg-filtros .ad .bt-filto .lista-filtro {
            background: #FFF;
            padding: 15px;
            position: absolute;
            top: 0;
            z-index: 9;
            -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
            display: none; }
            @media only screen and (max-width: 575px) {
              .servicos .box-filtros .bg-filtros .ad .bt-filto .lista-filtro {
                position: relative;
                margin-top: -112px; } }
            .servicos .box-filtros .bg-filtros .ad .bt-filto .lista-filtro.active {
              display: block; }
            .servicos .box-filtros .bg-filtros .ad .bt-filto .lista-filtro .header {
              padding: 20px 10px;
              color: #000;
              background: #eda900;
              -webkit-transition: 200ms;
              -moz-transition: 200ms;
              -ms-transition: 200ms;
              -o-transition: 200ms;
              transition: 200ms; }
              .servicos .box-filtros .bg-filtros .ad .bt-filto .lista-filtro .header:hover {
                background: #8c828c; }
              @media only screen and (max-width: 992px) {
                .servicos .box-filtros .bg-filtros .ad .bt-filto .lista-filtro .header {
                  padding: 15px 10px;
                  display: flex;
                  -webkit-justify-content: center;
                  justify-content: center;
                  -webkit-flex-wrap: wrap;
                  -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
                  font-size: 16px; } }
              @media only screen and (max-width: 992px) {
                .servicos .box-filtros .bg-filtros .ad .bt-filto .lista-filtro .header i.icone {
                  margin: 0 auto;
                  width: 100%; }
                  .servicos .box-filtros .bg-filtros .ad .bt-filto .lista-filtro .header i.icone img {
                    width: 36px; } }
            .servicos .box-filtros .bg-filtros .ad .bt-filto .lista-filtro .lista {
              margin-top: 25px;
              padding: 0 15px; }
              .servicos .box-filtros .bg-filtros .ad .bt-filto .lista-filtro .lista ul {
                display: flex;
                -webkit-flex-wrap: wrap;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
                .servicos .box-filtros .bg-filtros .ad .bt-filto .lista-filtro .lista ul li {
                  width: 50%;
                  text-align: left;
                  display: flex;
                  margin-bottom: 4px; }
                  @media only screen and (max-width: 992px) {
                    .servicos .box-filtros .bg-filtros .ad .bt-filto .lista-filtro .lista ul li {
                      width: 100%; } }
                  .servicos .box-filtros .bg-filtros .ad .bt-filto .lista-filtro .lista ul li input[type=checkbox] {
                    margin-top: 2px;
                    margin-right: 5px; }
                  .servicos .box-filtros .bg-filtros .ad .bt-filto .lista-filtro .lista ul li label {
                    color: #292c28;
                    font-size: 15px;
                    line-height: 100%; }
              .servicos .box-filtros .bg-filtros .ad .bt-filto .lista-filtro .lista.lista-faturamento ul li {
                width: 100%; }
    .servicos .box-filtros .links-filtro {
      margin-top: 30px; }
      .servicos .box-filtros .links-filtro ul {
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .servicos .box-filtros .links-filtro ul li {
          height: 42px;
          padding: 0 10px;
          font-size: 15px;
          background: #EAEAEA;
          color: #292c28;
          margin-right: 10px;
          margin-bottom: 6px;
          display: flex;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-align-items: center;
          align-items: center;
          font-family: "Open Sans", sans-serif; }
          @media only screen and (max-width: 767px) {
            .servicos .box-filtros .links-filtro ul li {
              font-size: 14px;
              height: 38px; } }
          @media only screen and (max-width: 575px) {
            .servicos .box-filtros .links-filtro ul li {
              font-size: 12px; } }
          .servicos .box-filtros .links-filtro ul li i {
            margin-left: 6px; }
  .servicos .box-empresa {
    margin-bottom: 120px; }
    @media only screen and (max-width: 767px) {
      .servicos .box-empresa {
        margin-bottom: 50px; } }
    .servicos .box-empresa .d-flex {
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .servicos .box-empresa .d-flex .blocos-destaques {
        width: 45%;
        margin-bottom: 50px;
        padding-top: 35px;
        border-top: 6px solid #eda900;
        background: #fff;
        -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.6); }
        @media only screen and (max-width: 1660px) {
          .servicos .box-empresa .d-flex .blocos-destaques {
            padding-top: 20px; } }
        @media only screen and (max-width: 992px) {
          .servicos .box-empresa .d-flex .blocos-destaques {
            width: 48%; } }
        @media only screen and (max-width: 767px) {
          .servicos .box-empresa .d-flex .blocos-destaques {
            width: 80%;
            max-width: 500px;
            margin: 0 auto 40px; } }
        @media only screen and (max-width: 767px) {
          .servicos .box-empresa .d-flex .blocos-destaques {
            width: 90%; } }
        .servicos .box-empresa .d-flex .blocos-destaques .campos-empresa {
          float: left;
          width: 100%;
          margin-bottom: 30px; }
          @media only screen and (max-width: 1660px) {
            .servicos .box-empresa .d-flex .blocos-destaques .campos-empresa {
              margin-bottom: 20px; } }
          .servicos .box-empresa .d-flex .blocos-destaques .campos-empresa ul li {
            width: 100%;
            margin-bottom: 10px;
            padding: 10px 0;
            font-family: "Open Sans", sans-serif;
            color: #292C28; }
            @media only screen and (max-width: 1660px) {
              .servicos .box-empresa .d-flex .blocos-destaques .campos-empresa ul li {
                margin-bottom: 8px;
                padding: 6px 0; } }
            @media only screen and (max-width: 992px) {
              .servicos .box-empresa .d-flex .blocos-destaques .campos-empresa ul li img {
                width: 16px; } }
            @media only screen and (max-width: 575px) {
              .servicos .box-empresa .d-flex .blocos-destaques .campos-empresa ul li.txt-medium {
                font-size: 12px; } }
          .servicos .box-empresa .d-flex .blocos-destaques .campos-empresa .col-esq {
            float: left;
            width: 45%;
            background: #F6F6F6;
            padding: 20px 10px 20px 30px; }
            @media only screen and (max-width: 1660px) {
              .servicos .box-empresa .d-flex .blocos-destaques .campos-empresa .col-esq {
                padding: 20px 10px 20px 20px; } }
            .servicos .box-empresa .d-flex .blocos-destaques .campos-empresa .col-esq li {
              font-weight: bold; }
          .servicos .box-empresa .d-flex .blocos-destaques .campos-empresa .col-dir {
            float: left;
            width: 55%;
            padding: 20px 30px 20px 20px; }
            @media only screen and (max-width: 1660px) {
              .servicos .box-empresa .d-flex .blocos-destaques .campos-empresa .col-dir {
                padding: 20px; } }
            .servicos .box-empresa .d-flex .blocos-destaques .campos-empresa .col-dir li {
              padding: 8px 5px;
              border-bottom: 2px solid #888; }
              @media only screen and (max-width: 1660px) {
                .servicos .box-empresa .d-flex .blocos-destaques .campos-empresa .col-dir li {
                  padding: 5px 5px; } }
        .servicos .box-empresa .d-flex .blocos-destaques .empresa-destaque {
          width: 100%;
          padding: 30px 60px;
          clear: both;
          margin-top: 30px;
          background: url("../img/bg-destaque-m&a.jpg") no-repeat center 0 #f6f6f6; }
          @media only screen and (max-width: 1660px) {
            .servicos .box-empresa .d-flex .blocos-destaques .empresa-destaque {
              padding: 20px 60px; } }
          @media only screen and (max-width: 575px) {
            .servicos .box-empresa .d-flex .blocos-destaques .empresa-destaque {
              padding: 20px 30px; } }
          .servicos .box-empresa .d-flex .blocos-destaques .empresa-destaque p {
            font-family: "Open Sans", sans-serif;
            color: #292C28;
            margin-bottom: 12px; }
            .servicos .box-empresa .d-flex .blocos-destaques .empresa-destaque p i {
              margin-left: 6px; }
              @media only screen and (max-width: 992px) {
                .servicos .box-empresa .d-flex .blocos-destaques .empresa-destaque p i img {
                  width: 16px; } }
          .servicos .box-empresa .d-flex .blocos-destaques .empresa-destaque .img-destaque {
            width: 100%;
            position: relative; }
            .servicos .box-empresa .d-flex .blocos-destaques .empresa-destaque .img-destaque img {
              width: 100%; }
            .servicos .box-empresa .d-flex .blocos-destaques .empresa-destaque .img-destaque .codigo-txt {
              font-size: 44px;
              font-weight: bold;
              font-family: "Open Sans", sans-serif;
              color: #292c28;
              margin: auto;
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              display: flex;
              -webkit-align-items: center;
              align-items: center;
              -webkit-justify-content: center;
              justify-content: center; }
              @media only screen and (max-width: 1660px) {
                .servicos .box-empresa .d-flex .blocos-destaques .empresa-destaque .img-destaque .codigo-txt {
                  font-size: 38px; } }
              @media only screen and (max-width: 992px) {
                .servicos .box-empresa .d-flex .blocos-destaques .empresa-destaque .img-destaque .codigo-txt {
                  font-size: 28px; } }
              @media only screen and (max-width: 767px) {
                .servicos .box-empresa .d-flex .blocos-destaques .empresa-destaque .img-destaque .codigo-txt {
                  font-size: 32px; } }
              @media only screen and (max-width: 575px) {
                .servicos .box-empresa .d-flex .blocos-destaques .empresa-destaque .img-destaque .codigo-txt {
                  font-size: 22px; } }
        .servicos .box-empresa .d-flex .blocos-destaques .bt-padrao {
          clear: both;
          margin: 30px auto;
          text-align: center; }

/*INTERNAS*/
.parallax-img {
  height: 290px; }
  @media only screen and (max-width: 767px) {
    .parallax-img {
      height: 200px; } }
  @media only screen and (max-width: 575px) {
    .parallax-img {
      height: 160px; } }

.tit-land {
  margin-bottom: 28px;
  position: relative;
  height: 100%;
  display: flex;
  -webkit-align-items: center;
  align-items: center; }
  @media only screen and (max-width: 767px) {
    .tit-land {
      -webkit-justify-content: center;
      justify-content: center; } }
  .tit-land span {
    font-size: 43px;
    font-weight: bold;
    color: #eda900;
    text-transform: uppercase;
    letter-spacing: -1px; }
    @media only screen and (max-width: 1200px) {
      .tit-land span {
        font-size: 38px; } }
    @media only screen and (max-width: 992px) {
      .tit-land span {
        font-size: 32px;
        letter-spacing: 0px; } }
    @media only screen and (max-width: 575px) {
      .tit-land span {
        font-size: 28px; } }
  .tit-land i {
    width: 100px;
    height: 1px;
    margin-left: 8px;
    position: relative;
    background: #eda900; }
    @media only screen and (max-width: 767px) {
      .tit-land i {
        width: 70px; } }
    .tit-land i:before {
      content: "";
      display: block;
      position: absolute;
      top: -6px;
      right: -20px;
      width: 12px;
      height: 12px;
      background: #eda900;
      -webkit-border-radius: 20px;
      border-radius: 20px; }

.pdf-navigation {
  float: right;
  margin-right: 10px;
}
#pdfDialog {
  overflow: auto;
  max-height: 70vh;
}
#pdfDialog canvas {
  max-width: 100%;
}
@media only print {
  #pdfDialog {
    display: none;
  }
}